<template>
    <div>
      <div class="content content-border content-50 users">
        <div class="sub_nav">
          <div class="justify-content-between">
            <h2>
              <router-link to="/app/users">Users</router-link>: {{ user.username }}
            </h2>

          </div>
          <div class="btn-group">
            <button class="btn btn-lg" :class="isActiveUIState('details')" @click="updateUIState('details')">Details</button>
            <button class="btn btn-lg" :class="isActiveUIState('permissions')" @click="updateUIState('permissions')">Permissions</button>
            <button class="btn btn-lg" :class="isActiveUIState('subscriptions')" @click="updateUIState('subscriptions')">Subscriptions</button>
          </div>
        </div>

        <div class="card card-100"  v-if="UIState === 'details'">
          <div class="card-header">
              <div class="card-title">
                  User profile
              </div>

              <div class="content-right">
                  <button class="btn btn-blue" v-show="editing" @click="triggerUpdate()">Save</button>
                  <button class="btn btn--plain" v-show="editing" @click="editing = false">Cancel</button>
                  <button class="btn btn-purple" @click="editing = !editing" v-show="!editing">Edit</button>
              </div>
          </div>

          <div class="card-content">
              <alert v-bind:state="state"></alert>
              <div class="grouping">
                  <label for="username">Username:</label>
                  <span v-show="!editing">{{ user.username }}</span>
                  <input type="text" id="username" name="username" v-model="user.username" v-show="editing">
              </div>
              <div class="grouping">
                  <label for="mobile">Mobile:</label>
                  <span v-show="!editing">{{ user.mobile_phone }}</span>
                  <input type="text" id="mobile" name="mobile" v-model="user.mobile_phone" v-show="editing">
              </div>

              <div class="grouping" v-show="!editing">
                  <label for="mobile">Password:</label>
                  <span v-show="!editing">******</span>
              </div>

              <div class="grouping">
                  <label for="person">Person Profile: </label>
                  <span v-show="!editing"><router-link :to="`/app/people/${user.person_id}`" v-bind="user">View</router-link></span>
                  <input type="text" id="person" name="person" v-model="user.person_id" v-show="editing">
              </div>
          </div>

          <div class="card-footer" v-show="editing">
              <button class="btn btn--link">Reset Password</button>
              <button class="btn btn-yellow content-right">Archive</button>
          </div>
        </div>
        <div class="card card-100" v-if="UIState === 'permissions'">
          <div class="card-header">
              Modules & Permissions
              <div class="content-right">
                  <button class="btn btn-blue" v-show="assignModules" @click="assignModules = false">Finish</button>
                  <button class="btn btn-purple" @click="assignModules = !assignModules" v-show="!assignModules">Edit</button>
              </div>
          </div>
          <div class="card-content">
              <p v-show="user.modules.length === 0">No modules assigned.</p>  
              <div v-show="assignModules">
                  <label>Modules</label>
                  <div id="type" class="btn-group">
                      <button class="btn" v-for="item in modules" :key="item.id" v-show="assignModules" @click="toggleModule(item, $event)" :class="{ 'active': isActive(item) }">{{ item.module_name }}</button>
                  </div>

                  <label>Permissions</label>
              </div>

              <ul v-show="!assignModules">
                  <li v-for="item in user.modules" :key="item.id"> {{ item.module_name }}</li>
              </ul> 
          </div>
        </div>

        <div class="card card-100" v-if="UIState === 'subscriptions'">
          <div class="card-header">
            Subscriptions
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";
import AlertMessage from "@/components/AlertMessage";
import { Common } from "@/common";
export default {
  name: "AppUsersViewSingle",
  components: {
    alert: AlertMessage
  },
  data() {
    return {
      UIState: 'details',
      user: {
        modules: []
      },
      editing: false,
      assignModules: false,
      modules: [],
      state: (this.state = Common.updateAlertState("", "", "", false))
    };
  },
  mounted() {
    const id = this.$route.params.id;
    this.getUserById(id).then(response => (this.user = response[0]));

    this.getSettingsModules().then(result => {
      this.modules = result.data;
    });
  },
  methods: {
    ...mapActions('users',[
      "getUserById",
      "addModuleToUser",
      "removeModuleFromUser",
      "deleteUserById",
      "updateUser"
    ]), 
    ...mapActions(["getSettingsModules"]),
    toggleModule(item, event) {
      let info = {
        userId: this.user.id,
        moduleId: item.id
      };
      if (event.target.classList.contains("active")) {
        this.removeModuleFromUser(info).then(response => console.log(response));

        this.user.modules = this.user.modules.filter(ele => {
          if (ele.module_id !== item.id) return ele;
        });
      } else {
        this.addModuleToUser(info).then(response => {
          this.user.modules.push({
            id: response.data[0].id,
            module_id: item.id,
            active: item.active,
            module_key: item.module_key,
            module_name: item.module_name
          });
        });
      }
    },

    isActive(item) {
      let active = false;
      if (this.user.modules) {
        this.user.modules.map(ele => {
          if (!active && ele.module_id === item.id) active = true;
        });
      }
      return active;
    },


    isActiveUIState(state) {
      return Common.isActiveUIState(this.UIState, state);
    },

    updateUIState(state) {
      this.UIState = state;
    },

    triggerUpdate() {
      this.state = Common.updateAlertState(
        "info",
        "Sending",
        "Updating user",
        true
      );

      this.updateUser(this.user).then(response => {
        this.state = Common.updateAlertState(
          "success",
          "Successful",
          "User was updated",
          true
        );

        this.editing = false;

        setTimeout(() => {
          this.state.show = false;
        }, 3000);
      });
    },
    deleteUser() {
      let id = this.$route.params.id;

      this.deleteUserById(id).then(response => {
        this.$router.push("/app/users");
      });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
</style>
