<template>
	<div>
		<div class="content content-border content-40 users">
      <h2>
        <router-link to="/app/users">Users</router-link>: New user
      </h2>

      <div class="grouping">
        <label for="person">Person Account <small>You must link a user to a person profile</small></label>
        <dataselect v-bind:collection="employeeList" v-model="user.person"></dataselect>
      </div>

      <div class="grouping">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" v-model="user.email">
      </div>

      <div class="grouping">
        <label for="mobile_number">Mobile Number</label>
        <input type="mobile_number" id="mobile_number" name="mobile_number" v-model="user.mobile_number">
      </div>

      <div class="grouping">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" v-model="user.password">
      </div>

      <h4>Modules</h4>
      <label class="checkbox" v-for="item in modules" :key="item.id">
        <input type="checkbox" @click="toggleModule(item, $event)"/> {{ item.module_name }}
      </label>

      <alert v-bind:state="state"></alert>

      <div class="grouping">
        <button class="btn btn-green float-right" @click="submitUser()">Add</button>
      </div>
    
    
		</div>
	</div>
</template>

<script>
import DataSelect from "@/components/DataSelect";
import AlertMessage from "@/components/AlertMessage";
import { Common } from "@/common";
import { mapActions } from "vuex";

export default {
  name: "AppUsersAdd",
  components: {
    dataselect: DataSelect,
    alert: AlertMessage
  },
  data() {
    return {
      employeeList: [],
      user: {
        person: "",
        mobile_number: "",
        email: "",
        password: "",
        modules: []
      },
      modules: [],
      state: (this.state = Common.updateAlertState("", "", "", false))
    };
  },
  created() {
    this.getPeopleNames().then(result => {
      this.employeeList = result.data;
    });

    this.getSettingsModules().then(result => {
      this.modules = result.data;
    });
  },
  methods: {

    ...mapActions('staff', ["getPeopleNames"]),
    ...mapActions('users', ["addUser"]),
    ...mapActions(["getSettingsModules"]),
    toggleModule(item, event) {
      if (event.target.checked) {
        this.user.modules.push(item);
      } else {
        this.user.modules = this.user.modules.filter(ele => {
          if (ele.id !== item.id) return ele;
        });
      }
    },

    submitUser() {
      this.state = Common.updateAlertState(
        "info",
        "Sending",
        "Adding new user",
        true
      );
      this.addUser(this.user).then(response => {
        this.state = Common.updateAlertState(
          "success",
          "Success",
          "Added new user",
          true
        );
        console.log(response);
        setTimeout(() => {
          this.state = Common.updateAlertState("", "", "", false);
        }, 5000);
      });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
.checkbox {
  width: 150px;
  display: block;
}
</style>
