<template>
	<div>
		<div class="content content-border users">
			<div class="sub_nav">
				<div class="justify-content-start">
					<h2>Users</h2>
					<router-link  to="/app/users/add" class="btn btn-lg btn-blue">New <i class="fa fa-fw fa-plus"></i></router-link>
        </div>

				<searchbox :settings="searchSettings" :dataitems="users" @update="updateSearch"></searchbox>
			</div>
			<data-table v-bind:data="users" v-bind:settings="tableSettings"></data-table>
		</div>		
	</div>
</template>

<script>
import { mapActions } from "vuex";
import DataTable from "@/components/DataTable";
import SearchBox from "@/components/SearchBox";

export default {
  name: "AppUsersViewAll",
  components: {
    "data-table": DataTable,
    searchbox: SearchBox
  },
  data() {
    return {
      users: [],
      searchSettings: {
        state: "users",
        search: {
          value: "",
          on: "name",
          options: null
        },
        filters: null
      },

      tableSettings: {
        viewLink: {
          state: true,
          key: "id",
          url: "/app/users/view"
        },
        columns: [
          {
            key: "person_id",
            human: "ID Code",
            sortable: true,
            size: "xsmall"
          },
          { key: "username", human: "Username" },
          { key: "name", human: "Name", sortable: true },
          { key: "mobile_phone", human: "Mobile Phone" }
        ],
        maxNumber: 10,
        loading: true
      }
    };
  },
  created() {
    this.getUsers().then(response => {
      this.users = response;
      this.tableSettings.loading = false;
    });
  },
  methods: {
    ...mapActions('users', ["getUsers"]),
    updateSearch(users) {
      this.users = users;
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
