<template>
  <div>
	<div class="content content-border registers">
		<div class="sub_nav">
			<div class="justify-content-start">
				<h2>Hazard registers</h2>
				<router-link  to="/app/registers/add" class="btn btn-lg btn-blue">New <i class="fa fa-fw fa-plus"></i></router-link>
			</div>

			<searchbox :settings="searchSettings" :dataitems="registers" @update="updateSearch"></searchbox>
		</div>
		
		<data-table :settings="tableSettings" :data="registers"></data-table>
	</div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import DataTable from "@/components/DataTable.vue";
import Searchbox from "@/components/SearchBox.vue";
export default {
  name: "AppRegistersViewAll",
  components: {
    DataTable,
    Searchbox
  },
  data() {
    return {
      registers: [],
      searchSettings: {
        state: "registers",
        search: {
          value: "",
          on: "hazard",

          options: [
            { human: "Hazard", key: "hazard" },
            { human: "Harm", key: "potential_harm" }
          ]
        },
        filters: {
          location: {
            selected_value: {},
            data_key: "location",
            dataset: "location",
            human: "Location",
            shown: false
          }
        }
      },

      tableSettings: {
        viewLink: {
          state: true,
          url: "/app/registers/view",
          key: "id"
        },
        columns: [
          { key: "location_name", human: "Location", sortable: true },
          { key: "hazard", human: "Hazard", sortable: true },
          { key: "potential_harm", human: "Harm" },
          { key: "hazard_mitigation", human: "Migitation" },
          { key: "controls", human: "Controls", sortable: true },
          { key: "risk_factor", human: "Risk factor", sortable: true }
        ],

        maxNumber: 10,
        loading: true
      }
    };
  },
  created() {
    this.getHazardRegisters().then(response => {
      this.registers = response.data;
      this.tableSettings.loading = false;
    });
  },
  methods: {
      ...mapActions('safety',["getHazardRegisters"]),
    updateSearch(registers) {
      this.registers = registers;
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
