<template>
	<div>
		<div class="content content-border content-50 safety">
			<div class="sub_nav safety">
				

          <div class="justify-content-between">
            <div>
					    <h2>
                <router-link to="/app/registers">Hazard register</router-link>: {{ hazard.hazard }} 
                <em v-show="hazard.archived">(Archived)</em>
						  </h2>
              <button class="btn btn-lg" :class="isActiveUIState('details')" @click="updateUIState('details')">Details</button>
              <button class="btn btn-lg" :class="isActiveUIState('stats')" @click="updateUIState('stats')">Statistics</button>
            </div>
            <div class="dropdown">
              <div class="btn">
                Options <i class="fas fa-fw fa-angle-down"></i>
              </div>
              <div class="dropdown-content">
                <div class="dropdown-item justify-content-between align-items-center" @click="archiveRequest()">
                  <span v-show="!hazard.archived">Archive</span>
                  <span v-show="hazard.archived">Unarchive</span>
                  <i class="far fa-fw fa-archive"></i>
                </div>
                <div class="dropdown-item justify-content-between align-items-center" @click="createPdf()">
                  Create PDF
                  <i class="far fa-fw fa-file-pdf"></i>
                </div>
                <div class="dropdown-item justify-content-between align-items-center" v-show="hazard.archived">
                  Delete 
                  <i class="far fa-fw fa-trash"></i>
                </div>
              </div>
            </div>
          </div>
        

					<!-- <div class="float-right">

						<button class="btn btn btn-lg btn-blue" @click="createPdf()">PDF</button>
						<button class="btn btn btn-lg btn-yellow" @click="archiveRequest()">
							<span v-show="!hazard.archived">Archive</span>
							<span v-show="hazard.archived">Unarchive</span>
						</button>
						<button class="btn btn btn-lg btn-red" v-show="hazard.archived">Delete</button>
					</div> -->
			</div>

		
      <div class="card card-100" v-if="UIState === 'details'">
        <div class="card-header">
          General details
          <div class="float-right">
              <button class="btn btn-purple" @click="editing = true" v-show="!editing">Edit</button>
              <button class="btn btn-blue" @click="toggleSave()" v-show="editing">Save</button>
              <button class="btn" @click="editing = false" v-show="editing">Cancel</button>
            </div>
            
        </div>
        <div class="card-content">
          <div class="grouping">
              <label for="location">Location</label>
              <span v-show="!editing">{{ hazard.location.name  }}</span>
              <dataselect id="location" name="location" v-show="editing" v-bind:collection="datasets.location" v-model="hazard.location"></dataselect>
          </div>

          <div class="grouping">
              <label for="hazard">Hazard</label>
              <span v-show="!editing"> {{ hazard.hazard }}</span>
              <textarea id="hazard" name="hazard" v-show="editing" v-model="hazard.hazard"></textarea>
          </div>

          <div class="grouping">
              <label for="harm">Potential harm</label>
              <span v-show="!editing">{{ hazard.potential_harm }}</span>
              <textarea id="harm" name="harm" v-show="editing" v-model="hazard.potential_harm"></textarea>
          </div>
          <div class="grouping">
              <label for="mitigation">Hazard mitigation</label>
              <span v-show="!editing">{{ hazard.hazard_mitigation }}</span>
              <select name="migitation" id="migitation" v-show="editing" v-model="hazard.hazard_mitigation">
                <option value="Migitate">Migitate</option>
                <option value="Eliminate">Eliminate</option>
              </select>
          </div>

          <div class="grouping">
              <label for="risk_factor">Risk factor</label>
              <span v-show="!editing">{{ hazard.risk_factor }}</span>
              <select name="risk_factor" id="risk_factor" v-show="editing" v-model="hazard.risk_factor">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
              </select>
          </div>
          <div class="grouping">
              <label>Controls</label>
              <span v-show="!editing">{{ hazard.controls }}</span>
              <input id="type" name="type" type="text" v-show="editing" v-model="hazard.controls">
          </div>

          <div class="grouping">
            <label for="reviewdate">Review date</label>
            <span v-show="!editing">{{ hazard.review_date | date }}</span>
            <datepicker v-show="editing" id="reviewdate" name="reviewdate" v-model="hazard.review_date" format="dd/MM/yyyy"></datepicker>
          </div>
          
          <div class="small" v-show="!editing"><strong>Created on:</strong> {{ hazard.date_reported | date}}</div>


          <alert :state="state"></alert>
        </div>
      </div>

      <div class="card card-100" v-if="UIState === 'stats'">
        <div class="card-header">Statistics</div>

        <div class="card-content">
          
          <div class="grouping">
              <label for="">Total incidents linked: {{ linksOnIncidents.length }}</label>

              <div v-if="linksOnIncidents.length > 0">
                <label for="">Incident reports linked on this hazard: </label>

                <div class="list-group-item" v-for="item in linksOnIncidents" :key="item.id">
                  <div class="grouping small m-0">
                    <label>Date</label>
                    {{ item.date_occurred | date }}
                  </div>

                  <div class="grouping small m-0">
                    <label>Location</label> 
                    {{ item.location_name }}
                  </div>

                  <div class="grouping small m-0">
                    <label>Department</label>
                  {{ item.department_name }}
                  </div>

                  <div class="float-right">
                    <router-link :to="'/app/incidents/view/' + item.safety_report_id">
                      View
                      <i class="fas fa-angle-right"></i>
                    </router-link>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
		</div>
	</div>
</template>

<script>
import { Common } from "@/common";

import Dataselect from "@/components/DataSelect";
import DatePicker from "vuejs-datepicker";
import { mapActions } from "vuex";

export default {
  name: "AppRegistersViewSingle",
  components: {
    Dataselect,
    datepicker: DatePicker
  },
  data() {
    return {
      UIState: "details",
      hazard: {
        location: { name: "" }
      },
      datasets: [],
      editing: false,
      state: Common.updateAlertState(
        "success",
        "Success",
        "This is a successful message",
        false
      ),
      linksOnIncidents: []
    };
  },

  mounted() {
    this.id = this.$route.params.id;
    this.getHazardById(this.id).then(response => {
      this.hazard = response.data.hazard;
      this.linksOnIncidents = response.data.linksOnIncidents;
    });

    const collections = ["department", "location"];
    this.getDataCollections(collections).then(
      result => (this.datasets = result.data)
    );
  },
  methods: {
    ...mapActions(["getDataCollections"]),
    ...mapActions('safety', [
      "getHazardById",
      "updateHazardRegister",
      "archiveHazardRegisterItem"
    ]),

    archiveRequest() {
      let archiveObject = {
        id: this.id,
        archive: !this.hazard.archived
      };

      this.archiveHazardRegisterItem(archiveObject).then(result => {
        console.log(result);
        this.hazard.archived = result.data;
      });
    },

    toggleSave() {
      (this.state = Common.updateAlertState(
        "info",
        "Updating",
        "Hazard register item is being updated",
        true
      )),
        this.updateHazardRegister(this.hazard).then(response => {
          this.state = Common.updateAlertState(
            "success",
            "Successful",
            "Hazard register item has been updated",
            true
          );

          this.editing = false;

          setTimeout(() => {
            this.state.show = false;
          }, 3000);
        });
    },

    deleteRegisterItem() {
      console.log("DELETED");
    },
    isActiveUIState(state) {
      return Common.isActiveUIState(this.UIState, state);
    },

    updateUIState(state) {
      this.UIState = state;
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
