<template>
	<div>
		<div class="content content-border content-40 registers">
      <div>
        <h2>
          <router-link to="/app/registers">Hazard registers</router-link>: New hazard
        </h2>

        <div class="grouping">
          <label for="location">Location</label>
          <dataselect v-bind:collection="datasets.location" v-model="item.location"></dataselect>
        </div>


        <div class="grouping">
          <label for="hazard">Hazard</label>
          <textarea name="hazard" id="hazard" v-model="item.hazard"></textarea>
        </div>

        <div class="grouping">
          <label for="harm">Potential Harm</label>
          <textarea name="harm" id="harm" v-model="item.potential_harm"></textarea>
        </div>

        <div class="grouping">
          <label for="migitation">Migitation</label>

          <button class="btn migitations" v-for="item in mitigations" @click="assignMitigation(item, $event)" :key="item.id">{{ item }}</button>
        </div>

        <div class="grouping">
          <label for="risk_factor">Risk factor</label>
          <button class="btn riskfactors" v-for="item in riskFactors" @click="assignRiskFactor(item, $event)" :key="item.id">{{ item }}</button>
        </div>

        <div class="grouping">
          <label for="controls">Controls</label>
          <textarea name="controls" id="controls" v-model="item.controls"></textarea>
        </div>

        <div class="grouping">
          <label for="reviewdate">Review date</label>
          <datepicker id="reviewdate" name="reviewdate" v-model="item.review_date" format="dd/MM/yyyy"></datepicker>
        </div>

        <alert v-bind:state="state"></alert>
        
        <div class="grouping">
          <button class="btn btn-green float-right" @click="addRegisterToDb()">Add</button>
        </div>

      </div>
		</div>
  </div>
</template>

<script>
import { Common } from "../../../common";
import DatePicker from "vuejs-datepicker";
import DataSelect from "../../../components/DataSelect";

import { mapActions } from 'vuex';

export default {
  name: "AppRegistersAdd",
  components: {
      'datepicker': DatePicker,
      'dataselect': DataSelect
  },
  data() {
    return {
      item: {
        location: { name: "" },
        hazard: "",
        potential_harm: "",
        hazard_mitigation: "",
        controls: "",
        risk_factor: "",
        review_date: null,
      },
      datasets: [],
      state: Common.updateAlertState(
        "success",
        "Success",
        "This is a successful message",
        false
      ),
      mitigations: ['Migitate', 'Eliminate'],
      riskFactors: ['High', 'Medium', 'Low']
    };
  },
  created() {
    const collections = ["location"];
    this.getDataCollections(collections).then(
      result => (this.datasets = result.data)
    );
  },

  methods: {
      ...mapActions('safety', ["addRegister"]),
      ...mapActions(["getDataCollections"]),
    addRegisterToDb() {
      this.state = Common.updateAlertState(
        "info",
        "Sending",
        "Adding new Hazard Register",
        true
      );
      this.addRegister(this.item).then(response => {
        this.state = Common.updateAlertState(
          "success",
          "Added",
          "Adding new Hazard Register",
          true
        );

        let id = response.data[0].id;

        setTimeout(() => {
          this.state = Common.updateAlertState("", "", "", false);
          this.$router.push(`/app/registers/view/${id}`);
        }, 5000);
      });
    },


    assignMitigation(item, event) {
      let hasActive = document.querySelector(`.migitations.active`);
      if(hasActive){
        hasActive.classList.remove('active');
      }
      event.target.classList.add('active');
      this.item.hazard_mitigation = item;
    },
    assignRiskFactor(item, event)
    {
      let hasActive = document.querySelector(`.riskfactors.active`);
      if(hasActive){
        hasActive.classList.remove('active');
      }
      event.target.classList.add('active');
      this.item.risk_factor = item;
    },
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
