<template>
	<div>
		<div class="content content-border safety">
			<div class="sub_nav">
				<div class="justify-content-between">
					<h2>
							<router-link to="/app/incidents">Incidents reports</router-link>:  {{safety.type.readable }} at {{ safety.location.name  }} on {{safety.date_occurred | date }}
					</h2>
					<div>
						<button class="btn">
							Flag
							<i class="fas fa-fw fa-flag"></i>
						</button>
						<div class="dropdown">
							<button class="btn">
								Options <i class="fas fa-fw fa-angle-down"></i>
							</button>

							<div class="dropdown-content dropright">
								<div class="dropdown-item justify-content-between align-items-center">
									<span v-show="safety.archived">Unarchive</span>
									<span v-show="!safety.archived">Archive</span>
									<i class="far fa-fw fa-archive"></i>
								</div>

								<div class="dropdown-item justify-content-between align-items-center">
									Download PDF
									<i class="far fa-fw fa-download"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-row">
				<div class="card">
					<div class="card-header">
						Incident
						<div class="float-right">
							 <button class="btn btn-purple" @click="editInitialSafetyReport()" v-show="!editing">Edit</button>
							 <button class="btn btn-blue" @click="saveInitialSafetyReport()" v-show="editing">Save</button>
							 <button class="btn btn--btn" @click="cancelInitialSafetyReport()" v-show="editing">Cancel</button>
						 </div>
					</div>
					<div class="card-content">
						<alert v-bind:state="state"></alert>

						<div class="grouping">
								<label for="type">Type</label>
								<span v-show="!editing">{{ safety.type.readable }}</span>
								<!-- <input id="type" name="type" type="text" v-show="editing" v-model="safety.type"> -->

								<div id="type" class="btn-group" v-show="editing">
									<button class="btn" :class="buttonIsActive(item.name, 'type')" v-for="item in datasets.report_type" :key="item.id" @click="selectItemFor('type', item.name, $event)">{{ item.name }}</button>
								</div>
						</div>

						<div class="grouping">
								<label for="date_occurred">Date occurred</label>
								<span v-show="!editing">{{ safety.date_occurred | date}}</span>
								<datepicker id="date_occurred" name="date_occurred" v-model="safety.date_occurred" format="dd/MM/yyyy" v-show="editing"></datepicker>
						</div>

						<div class="grouping">
							<label for="location">Location</label>
							<span v-show="!editing">{{ safety.location.name }}</span>
							<dataselect v-show="editing" name="location" v-bind:collection="datasets.location" v-model="safety.location"></dataselect>
						</div>
						<div class="grouping">
							<label for="department">Department</label>
							<span id="department" name="department" v-show="!editing">{{ safety.department_name }}</span>
							<dataselect v-show="editing" name="department" v-bind:collection="datasets.department" v-model="safety.department"></dataselect>
						</div>
						<div class="grouping">
							<label for="what_happened">What happened</label>
							<div v-show="!editing">{{ safety.what_happened }}</div>
							<textarea id="what_happened" name="what_happened" v-show="editing" v-model="safety.what_happened"></textarea>
							
						</div>
						<div class="grouping">
							<label for="employee">Employee</label>
							<span v-show="!editing">{{ safety.employee.name }}</span>
							<dataselect v-show="editing" name="employee" v-bind:collection="employeelist" v-model="safety.employee"></dataselect>
						</div>
						<div class="grouping">
							<label for="supervisor">Supervisor</label>
							<span v-show="!editing">{{ safety.supervisor.name }}</span>
							<dataselect v-show="editing" name="supervisor" v-bind:collection="employeelist" v-model="safety.supervisor"></dataselect>
						</div>
						<div class="grouping">
							<label for="damages">Damages</label>
							<span v-show="!editing">{{ safety.damages.readable }}</span>
							<div id="type" class="btn-group" v-show="editing">
								<button class="btn" :class="buttonIsActive(item.name, 'damages')" v-for="item in datasets.damages" :key="item.id" @click="selectItemFor('damages', item.name, $event)">{{ item.name }}</button>
							</div>
						</div>
						
						<div class="grouping">
							<label for="damage_description">Damage description</label>
							<span v-show="!editing">{{ safety.damage_description }}</span>
							<textarea id="damage_description" name="damage_description" v-show="editing" v-model="safety.damage_description"></textarea>
						</div>
						<div class="grouping">
							<label for="harm">Harm</label>
							<span v-show="!editing">{{ safety.harm.readable }}</span>
							<div id="type" class="btn-group" v-show="editing">
								<button class="btn" :class="buttonIsActive(item.name, 'harm')" v-for="item in datasets.harm" :key="item.id" @click="selectItemFor('harm', item.name, $event)">{{ item.name }}</button>
							</div>
						</div>
						<div class="grouping">
							<label for="harm_description">Harm description</label>
							<span v-show="!editing">{{ safety.harm_description }}</span>
							<textarea id="harm_description" name="harm_description" v-show="editing" v-model="safety.harm_description"></textarea>
						</div>
						<div class="grouping">
							<label for="corrective_actions">Corrective actions</label>
							<span v-show="!editing">{{ safety.corrective_actions }}</span>
							<textarea id="corrective_actions" name="corrective_actions" v-show="editing" v-model="safety.corrective_actions"></textarea>
						</div>

						<div class="grouping">
							<label for="issue_still_present">Issue still present</label>
							<span v-show="!editing">{{ safety.issue_still_present }}</span>
							<input type="text" id="issue_still_present" name="issue_still_present" v-show="editing" v-model="safety.issue_still_present" />
						</div>
						<div class="grouping">
							<label for="risk_likelihood">Risk likelihood</label>
							<span v-show="!editing">{{ safety.risk_likelihood }}</span>
							<input type="text" id="risk_likelihood" name="risk_likelihood" v-show="editing" v-model="safety.risk_likelihood" />
						</div>
						<div class="grouping">
							<label for="risk_harm">Risk harm</label>
							<span v-show="!editing">{{ safety.risk_harm }}</span>
							<input type="text" id="risk_harm" name="risk_harm" v-show="editing" v-model="safety.risk_harm" />
						</div>
					</div>
					<div class="card-footer">
						<h4 class="sign-off-title">Sign off</h4>
						
						<p class="sign-off">Supervisor: 
							<span data-balloon-length="small" data-balloon="Not signed off" data-balloon-pos="up">
							<i class="fa fa-fw fa-times"></i>
							</span>
						</p>
						<p class="sign-off">Safety Rep:
							<span data-balloon-length="small" data-balloon="Not signed off" data-balloon-pos="up">
							<i class="fa fa-fw fa-times"></i>
							</span>
						</p>
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						Investigation
						<div class="float-right">
							<router-link :to="`/app/incidents/investigation/new/${id}`" v-show="!investigation">
								<button class="btn btn-blue">Add <i class="fal fa-fw fa-plus"></i></button>
							</router-link>

							<button class="btn btn-blue" v-if="editingInvestigation" @click="saveInvestigation()">Update</button>							
							<button class="btn btn-purple" v-show="investigation" @click="editInvestigation()">
								<span v-show="!editingInvestigation">Edit</span>
								<span v-show="editingInvestigation">Cancel</span>
							</button>
						</div>
					</div>

					<div class="card-content">
						<p v-if="!hasInvestigation">An investigation is not required for this Incident.</p>
						
						<div v-if="hasInvestigation">
							<alert v-bind:state="investigationState"></alert>
							<div class="grouping">
								<label for="findings">Findings</label>
								<span v-if="!editingInvestigation">{{ investigation.findings }}</span>
								<textarea id="findings" name="findings" v-if="editingInvestigation" v-model="investigation.findings"></textarea>
							</div>

							<div class="grouping">
								<label for="recommendations">Recommendations</label>
								<span v-if="!editingInvestigation">{{ investigation.recommendations }}</span>
								<textarea id="recommendations" name="recommendations" v-if="editingInvestigation" v-model="investigation.recommendations"></textarea>
							</div>

							<div class="grouping">
								<label for="factors">Factors</label>
								<span v-if="!editingInvestigation">{{ investigation.factors.join(" / ") }}</span>
								
								<div class="control-group" v-if="editingInvestigation">
									<label class="control control-checkbox"  v-for="(item,key) in factors" :key="key">
											<span class="label">{{ item }}</span>
											<input type="checkbox" :checked="itemInFactors(item)" @click="toggleFactor(item)"/> 
											<div class="control_indicator"></div>
									</label>
								</div>
							</div>
						</div>

					</div>
					<div class="card-footer" v-if="hasInvestigation">
						<h4 class="sign-off-title">Sign off</h4>
						<p class="sign-off">Supervisor: 
								<span data-balloon-length="small" data-balloon="Not signed off" data-balloon-pos="up"><i class="fa fa-fw fa-times"></i></span>
							</p>
						<p class="sign-off">Safety Rep: 
								<span data-balloon-length="small" data-balloon="Not signed off" data-balloon-pos="up"><i class="fa fa-fw fa-times"></i></span>
							</p>
						<p class="sign-off">Safety chairperson: 
								<span data-balloon-length="small" data-balloon="Not signed off" data-balloon-pos="up"><i class="fa fa-fw fa-times"></i></span>
							</p>
					</div>
					
				</div>

				<div class="card-column">
					<div class="card">
						<div class="card-header">
							<span>
								Reference hazard(s) 
							</span>

							<div class="float-right">
								<button class="btn" @click="openLinkModal()" v-show="!editing">Link</button>
							</div>
							<!-- References hazard modal -->
							<modal v-model="linkModalOptions">            
								<div class="modal-dialog" slot="modal">
										<div class="modal-header blue">
												<div class="title">Link hazard</div>

												<div class="float-right">
														<button class="btn btn-none text-white" @click="linkModalOptions.open = false"><i class="fas fa-times"></i></button>
												</div>
										</div>

										<div class="modal-content">
											<!-- <pre>{{ linkModalOptions.data }}</pre> -->

											<div class="list-group-item" v-for="item in linkModalOptions.data" :key="item.id" @click="selectHazardItem(item)">
												<div class="title">{{ item.hazard }}</div> 
												<div class="float-right">
													<i class="fa fa-check" v-show="isSelectedHazard(item.id)"></i>
												</div>
											</div>
										</div>

										<div class="modal-footer">
											<div class="float-right">
												<button class="btn btn-green" @click="createLinks()">Create links</button>
											</div>
										</div>
								</div>
							</modal>
						</div>						

						<div class="card-content" v-show="links.length > 0">
							<div class="list-group-item" v-for="item in links" :key="item.id">
								<div class="title">{{ item.hazard }}</div>
								<div>
									<router-link class="btn btn-outline" :to="'/app/registers/view/' + item.hazard_register_item_id">View</router-link>
									<button class="btn btn-outline-red" @click="removeHazardLink(item.id, item.hazard_register_item_id)"
									 data-balloon="Delete link" data-balloon-pos="right"
									>
										<i class="fas fa-trash"></i>
									</button>
								</div>
							</div>

						</div>
					</div>

					<!-- <div class="card">
						<div class="card-header">
							Documents / Files

							<div class="float-right">
								<button class="btn" @click="toggleEdit()" v-show="!editing">Add</button>
							</div>
						</div>
					</div> -->
				</div>

				
			</div>
		</div>
	</div>
</template>

<script>
import DataSelect from "@/components/DataSelect";
import Modal from "@/components/Modal";
import Datepicker from "vuejs-datepicker";

import { Common } from "@/common";
import { mapActions } from "vuex";

export default {
  name: "AppIncidentsViewSingle",
  components: {
    dataselect: DataSelect,
    datepicker: Datepicker,
    modal: Modal
  },
  data() {
    return {
      // define the dataselect name values to prevent errors in console
      safety: {
        location: {
          name: ""
        },
        employee: {
          name: ""
        },
        department: {
          name: ""
        },
        supervisor: {
          name: ""
        },
        type: {
          readable: "",
          array: []
        },
        damages: {
          readable: "",
          array: []
        },
        harm: {
          readable: "",
          array: []
        }
			},
			investigation: {
				factors: [] 
			},
			hasInvestigation: false,
      links: [],
      originalSafety: [],
      datasets: [],
      employeelist: [],
			editing: false,
			editingInvestigation: false, 
      linkModalOptions: {
        open: false,
        data: [],
        static: false
      },
      selectedHazards: [],
			originalHazards: [],
			originalInvestigation: [],
			investigationState: Common.updateAlertState("", "", "", false),
      state: Common.updateAlertState("", "", "", false),

      modalOptions: {
        size: "small",
        shown: false,
        actions: {
          dismissEvent: true
        }
			},
			
			factors: [
        "High workload",
        "Inadepquate equipment",
        "Inadepuately controlled hazard",
        "Inadepquate procedures",
        "Inadepquate supervison",
        "Lack of training",
        "New hazard",
        "Risk taking"
      ]
    };
  },
  created() {
    this.id = this.$route.params.id;
    this.getSafetyReportById(this.id).then(response => {
			console.log(this.id);
      console.log(response.data);
      this.safety = response.data.safety;
			this.links = response.data.links;
			
			this.investigation = response.data.investigation;

			

			if(!this.investigation){
				this.hasInvestigation = false;
			}
			else {
				this.hasInvestigation = true;
			}
			
			this.selectedHazards = this.links.map(ele => ele.hazard_register_item_id);
			this.originalHazards = JSON.parse(JSON.stringify(this.selectedHazards));
    });
  },
  methods: {
		...mapActions('safety',[
				"getSafetyReportById",
				"updateSafetyReport",
				"updateSafetyReportInvestigation",
				"getHazardRegisters",
				"addHazardLinksToIncident",
				"removeHazardLinkFromIncident"
		]),
		...mapActions('staff', ["getPeopleNames"]),
    ...mapActions(["getDataCollections"]),
    buttonIsActive(item, key) {
      if (this.safety[key].array.indexOf(item) > -1) return "active";
    },
    selectItemFor(type, item, $event) {
      let index = this.safety[type].array.indexOf(item);
      const element = $event.target;
      if (index === -1) {
        this.safety[type].array.push(item);
        // element.classList.add("active");
        return;
      }
      this.safety[type].array.splice(index, 1);
      // element.classList.remove("active");
    },
    editInitialSafetyReport() {
      this.originalSafety = JSON.parse(JSON.stringify(this.safety));

      if (this.employeelist.length === 0) {
        this.getPeopleNames().then(result => {
          this.employeelist = result.data;
        });
      }

      if (this.datasets.length === 0) {
        const collections = [
          "department",
          "location",
          "report_type",
          "harm",
          "damages"
        ];
        this.getDataCollections(collections).then(
          result => (this.datasets = result.data)
        );
      }

      this.editing = true;
    },

    saveInitialSafetyReport() {
      this.state = Common.updateAlertState(
        "info",
        "Updating",
        `Incident is being updated`,
        true
      );
      this.updateSafetyReport(this.safety).then(response => {
        this.state = Common.updateAlertState(
          "success",
          "Success",
          `Incident has being updated`,
          true
        );
        setInterval(() => {
          this.state.show = false;

          this.originalSafety = [];
          this.editing = false;
        }, 3000);
      });
    },

    cancelInitialSafetyReport() {
      this.safety = JSON.parse(JSON.stringify(this.originalSafety));
      this.originalSafety = [];
      this.editing = false;
    },

    openLinkModal() {
      this.getHazardRegisters().then(response => {
        this.linkModalOptions.data = response.data;
        this.linkModalOptions.open = true;
      });
		},
		

		// Investigation
		editInvestigation(){
			this.editingInvestigation = !this.editingInvestigation;

			if(this.editingInvestigation){
				this.originalInvestigation = JSON.parse(JSON.stringify(this.investigation));
			}

			if(!this.editingInvestigation){
				this.investigation = JSON.parse(JSON.stringify(this.investigation));
			}
		},
		itemInFactors(item) {
			return (this.investigation.factors.indexOf(item) > -1) ? true : false;
		},
		toggleFactor(item) {
      let index = this.investigation.factors.indexOf(item);
      if (index > -1) {
        this.investigation.factors.splice(index, 1);
      } else {
        this.investigation.factors.push(item);
      }
    },

		saveInvestigation(){
			this.investigationState = Common.updateAlertState(
        "info",
        "Updating",
        `Investigation is being updated`,
        true
      );
			this.updateSafetyReportInvestigation(this.investigation)
			.then(response => {
				this.investigationState = Common.updateAlertState(
          "success",
          "Success",
          `Investigation has being updated`,
          true
        );
        setInterval(() => {
          this.investigationState.show = false;

          this.originalInvestigation = [];
          this.editingInvestigation = false;
        }, 3000);
			})
			.catch(error => {
				console.error(error);
			});
		},


		// Links

    selectHazardItem(item) {
      let index = this.selectedHazards.indexOf(item.id);
      if (index > -1) this.selectedHazards.splice(index, 1);
      else {
        this.selectedHazards.push(item.id);
      }
    },
    isSelectedHazard(id) {
      return this.selectedHazards.indexOf(id) > -1 ? true : false;
    },

    createLinks() {
      let newHazardLinks = this.selectedHazards.filter(ele => {
        if (this.originalHazards.indexOf(ele) === -1) return ele;
      });

      let postObject = {
        hazardIds: newHazardLinks,
        safetyReportID: this.id
      };

      this.addHazardLinksToIncident(postObject).then(respone => {
        console.log(response);
      });
    },

    removeHazardLink(linkID, hazardID) {
      this.removeHazardLinkFromIncident(linkID).then(response => {
        this.links = this.links.filter(ele => ele.id != linkID);

        let index = this.selectedHazards.indexOf(hazardID);
        this.selectedHazards.splice(index, 1);
      });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss'>
	.list-group-item {
			padding: 6px 10px;
		.title {
			font-size: 1rem;
		}
	}
</style>
