<template>
	<div>
		<div class="content content-border content-70 safety">
			<div class="">
				<h2><router-link to="/app/incidents">Incidents</router-link>: New incident</h2>
				<div class="flex-row">
					<div class="col">
						
						<div class="grouping">
							<label for="reporttype">Report Type</label>

							<div id="type" class="btn-group">
								<button class="btn"  v-for="item in datasets.report_type" :key="item.id" @click="selectItemFor('type', item.name, $event)">{{ item.name }}</button>
							</div>
						</div>

						<div class="grouping">
							<label for="date_occurred">Date Occurred</label>
							<datepicker id="date_occurred" name="date_occurred" v-model="report.date_occurred" format="dd/MM/yyyy"></datepicker>
						</div>

						<div class="grouping">
							<label for="location">Location</label>
							<dataselect v-bind:collection="datasets.location" v-model="report.location"></dataselect>
						</div>

						<div class="grouping">
							<label for="">Department</label>
							<dataselect v-bind:collection="datasets.department" v-model="report.department"></dataselect>
						</div>

						<div class="grouping">
							<label for="">Employee Involved</label>
							<!-- <input type="text" v-model="report.employee"/> -->
							<dataselect v-bind:collection="employeelist" v-model="report.employee"></dataselect>
						</div> 

						<div class="grouping">
							<label for="supervisor">Supervisor</label>
							<!-- <input type="text" name="supervisor" id="supervisor" class="form-control" v-model="report.supervisor"> -->
							<dataselect v-bind:collection="employeelist" v-model="report.supervisor"></dataselect>
						</div>

						<div class="grouping">
							<label for="what_happened">Summary of What Happened</label>
							<textarea type="text" name="what_happened" id="what_happened" rows="12" v-model="report.what_happened"></textarea>
							<!-- <rich-text v-model="report.what_happened"></rich-text> -->
						</div>
					</div>

					<div class="col">
						
						<div class="grouping">
							<label>Damage</label>
							<div class="btn-group" id="damages">					
								<button class="btn" v-for="item in datasets.damages" :key="item.id" @click="selectItemFor('damages', item.name, $event)">{{ item.name }}</button>
							</div>


							<div class="grouping">
								<label for="damage_description">Description of Damage</label>
								<textarea id="damage_description" name="damage_description" v-model="report.damage_description"></textarea>
							</div>
						</div>

						<div class="grouping">
							<label>Harm</label>
							
							<div class="btn-group" id="harm">					
								<button class="btn" v-for="item in datasets.harm" :key="item.id" @click="selectItemFor('harm', item.name, $event)">{{ item.name }}</button>
							</div>

							<div class="grouping">
								<label for="harm_description">Description of Harm</label>
								<textarea id="harm_description" name="harm_description" v-model="report.harm_description"></textarea>
							</div>

						</div>

						<div class="grouping">
							<label>Safety risk assessment <div class="float-right">Optional</div></label>
							<p class="small">This assessment is based on this report along with any future reports that are similar.
							<div class="grouping">
								<label for="">Risk likelihood</label>
								<select id="frequency" name="frequency" v-model="report.risk_likelihood">
									<option>All the Time - Daily</option>
									<option>Regularly - At least once per week</option>
									<option>Often - At least once per month</option>
									<option>Occasionally - At least once per year</option>
									<option>Rarely - Hardly ever happens</option>
								</select>
							</div>

							<div class="grouping">
								<label for="potential_harm">Risk harm</label>
								<select id="potential_harm" name="potential_harm" v-model="report.risk_harm">
									<option>Minor - No First Aid Attendant required</option>
									<option>Moderate - First Aid treatment by Attendant required</option>
									<option>Major - Notice or Referral from Doctor</option>
									<option>Notifiable Event - Hospitilisation</option>
								</select>
							</div>

						</div>

						<div class="grouping">
							<label>Further actions<div class="float-right">Optional</div></label>

							<div class="grouping">
								<label for="corrective_action">Description of actions to correct this issue.</label>
								<textarea id="corrective_action" name="corrective_action" v-model="report.corrective_actions"></textarea>
							</div>

							<div class="grouping">
								<label>Is the issue still present?</label>
								<div class="btn-group" id="issue_present">
									<button class="btn" @click="selectIssue(true, $event)">Yes</button>
									<button class="btn" @click="selectIssue(false, $event)">No</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<alert v-bind:state="state"></alert>

				<button class="btn btn-blue" @click="saveAsDraft()" v-show="!canUpdateDraft">
					Save as draft

					<i class="fas fa-fw fa-save"></i>
				</button>
				<button class="btn btn-blue" @click="updateChangesToDraft()" v-show="canUpdateDraft">
					Update draft
					<i class="fas fa-fw fa-edit"></i>
				</button>
				
				<button class="btn btn-green float-right" @click="addForm()">Add</button>
			</div>
		</div>
	</div>
</template>

<script>
import { Common } from "../../../common";
import axios from "axios";

import Datepicker from "vuejs-datepicker";
import Dataselect from "@/components/DataSelect.vue";
import RichText from "@/components/RichTextEditor";
import { mapActions } from "vuex";

export default {
  name: "AppIncidentsAdd",
  components: {
    Datepicker,
    Dataselect,
		RichText,
  },
  data() {
    return {
      state: Common.updateAlertState(
        "success",
        "Success",
        "This is a successful message",
        false
      ),
      report: {
        type: [],
        date_occurred: new Date(),
        location: "",
        department: "",
        what_happened: "",
        employee: "",
        supervisor: "",
        damage_description: "",
        damages: [],

        harm_description: "",
        harm: [],
        corrective_actions: "",
        issue_still_present: false,
        risk_likelihood: "", // Sometimes / Often / Always
        risk_harm: "" // Minor / Moderate / Major
			},
			draft: [],
			canUpdateDraft: false,
      datasets: {},
      employeelist: []
    };
  },
  created() {
		if(this.$route.query.draft){
			this.getDraftById(this.$route.query.draft)
			.then(response => {
				this.report = response.data[0].document;
				this.draft = response.data[0];
				this.canUpdateDraft = true;
			});
		}
    this.getPeopleNames().then(result => {
      this.employeelist = result.data;
    });

    const collections = ["department", "location", "report_type", "damages", "harm"];
    this.getDataCollections(collections).then(
      result => (this.datasets = result.data)
    );
  },
  methods: {
    ...mapActions([
			"getDataCollections", 
		]),
		...mapActions('drafts', [
			"addDraft",
			"getDraftById",
			"updateDraft"
		]),
		...mapActions('staff', [ "getPeopleNames"]),
		...mapActions('safety', ["addSafetyReport"]),

    selectIssue(value, $event) {
      let active = document.querySelector("#issue_present .active");
      if (active !== null) active.classList.remove("active");
      $event.target.classList.add("active");
      this.report.issue_still_present = value;
    },

    selectItemFor(type, item, $event) {
      let index = this.report[type].indexOf(item);
      const element = $event.target;
      if (index === -1) {
        this.report[type].push(item);
        element.classList.add("active");
        return;
      }
      this.report[type].splice(index, 1);
      element.classList.remove("active");
		},
		
		saveAsDraft(){
			this.state = Common.updateAlertState(
        "info",
        "Sending",
        "Saving as a draft",
        true
			);

			let draft = {
				location: 'incidents',
				document: this.report,
			};
			
			this.addDraft(draft)
			.then(response => {
				console.log(response);

				this.state = Common.updateAlertState(
					"success",
					"Saved",
					"Draft has been saved",
					true
				);

				setTimeout(() => {
					this.state.show = false;
				}, 5000);
			});
		},

		updateChangesToDraft() {
			this.state = Common.updateAlertState(
        "info",
        "Sending",
        "Saving as a draft",
        true
			);

			this.draft.document = this.report;

			this.updateDraft(this.draft)
			.then(response => {
				console.log(response);

				this.state = Common.updateAlertState(
					"success",
					"Saved",
					"Draft has been saved",
					true
				);

				setTimeout(() => {
					this.state.show = false;
				}, 5000);
			});
		},

    addForm() {
      this.state = Common.updateAlertState(
        "info",
        "Sending",
        "Adding new Incident report",
        true
      );
      this.addSafetyReport(this.report).then(response => {
        let id = response.data[0].id;
        this.state = Common.updateAlertState(
          "success",
          "Added",
          "Added new Incident report",
          true
        );

        setTimeout(() => {
          this.$router.push(`/app/incidents/view/${id}`);
        }, 5000);
      });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
div.col {
	width: 50vw;
	flex-grow: 1;

	&:first-child {
		margin-right: 12px;
	}

	&:last-child {
		margin-left: 12px;
	}
}
</style>
