<template>
    <div class="incidentsall">
        <div class="content content-border safety">
            <div class="sub_nav">
                <div class="justify-content-start">
                    <h2>Incidents</h2>
                    <router-link  to="/app/incidents/add" class="btn btn-lg btn-blue">New <i class="fa fa-fw fa-plus"></i></router-link>
                </div>
                <searchbox :settings="searchSettings" :dataitems="safety" @update="updateSearch"></searchbox>
                <drafts location="incidents"></drafts>
            </div>

            <data-table :settings="tableSettings" :data="safety"></data-table>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";
import DataTable from "@/components/DataTable.vue";
import Searchbox from "@/components/SearchBox.vue";

import ViewDrafts from "@/components/drafts/View";


export default {
  name: "AppIncidentsViewAll",
  components: {
    DataTable,
    Searchbox,
    drafts: ViewDrafts
  },
  data() {
    return {
      safety: [],

      searchSettings: {
        state: "safety",
        search: {
          value: "",
          on: "employee",

          options: [
            { human: "Employee", key: "employee" },
            { human: "Supervisor", key: "supervisor" }
          ]
        },
        filters: {
          location: {
            selected_value: {},
            data_key: "location",
            dataset: "location",
            human: "Location",
            shown: false
          },
          department: {
            selected_value: {},
            data_key: "department",
            dataset: "department",
            human: "Department",
            shown: false
          }
        }
      },
      tableSettings: {
        viewLink: {
          state: true,
          url: "/app/incidents/view",
          key: "id"
        },
        columns: [
          { key: "type", human: "Type", sortable: true },
          {
            key: "date_occurred",
            human: "Date Occurred",
            isDate: true,
            sortable: true
          },
          { key: "location_name", human: "Location", sortable: true },
          { key: "department_name", human: "Department", sortable: true },
          { key: "employee", human: "Employee" },
          { key: "supervisor", human: "Supervisor" }
        ],

        maxNumber: 10,
        loading: true
      }
    };
  },

  created() {
    this.getSafetyReports().then(response => {
      this.safety = response.data;

      this.tableSettings.loading = false;
    });
  },
  methods: {
    ...mapActions('safety', ["getSafetyReports"]),

    updateSearch(safety) {
      this.safety = safety;
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
