<template>
    <div>
        <div class="content">
            <div class="justify-content-between">
                <div class="card card-grow bg-blue">
                    <div class="card-header">Stats

                        <div class="justify-content-end">
                            <div class="btn-group" id="daterange">
                                <label>Date range</label>
                                <select v-model="dateRange">
                                  <option value="1 week">1 Week</option>
                                  <option value="1 month">1 Month</option>
                                  <option value="6 months">6 Months</option>
                                  <option value="1 year">1 year</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <h3 class="chart-title">Incidents Reports </h3>
                        <div class="stat-card">
                          <div class="stat-title">Total incident reports </div> 
                          <span class="stat-number">{{ stats.safety.total }}</span>
                        </div>

                        <line-chart :chart-data="safetyReportsChart" :options="defaultOptions" class="chart"></line-chart>

                        <h3 class="chart-title">Hazard Registers</h3>
                        <div class="stat-card">
                          <div class="stat-title">Total hazard registers</div>
                          <div class="stat-number">{{ stats.hazard.total }}</div>
                        </div>
                        <line-chart :chart-data="hazardRegisterChart" :options="defaultOptions" class="chart"></line-chart>
                      
                    </div>
                </div>

                <div class="card notification-panel">
                    <div class="card-header">
                        Notification summary

                        <div class="float-right">
                          <div class="dropdown">
                            <button class="btn">Filters <i class="fa fa-fw fa-filter"></i></button>

                            <div class="dropdown-content dropright">
                              <div class="dropdown-item" @click="filterNotificationsBy('All')">
                                All
                                <i class="fa fa-fw fa-check float-right" v-show="showTickIfFilteredOn('All')"></i>
                              </div>
                              <div class="dropdown-item" @click="filterNotificationsBy('asset')">
                                Assets
                                <i class="fa fa-fw fa-check float-right" v-show="showTickIfFilteredOn('asset')"></i>

                              </div>
                              <div class="dropdown-item" @click="filterNotificationsBy('hazard')">
                                Hazards
                                <i class="fa fa-fw fa-check float-right" v-show="showTickIfFilteredOn('hazard')"></i>
                              </div>                      
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card-content">
                      <div class="list-group-item">
                        <div class="tag asset">WOF Due</div>
                        {{ notifications.wof_due }}
                      </div>
                      <div class="list-group-item">
                        <div class="tag asset">COF Due</div>
                        {{ notifications.cof_due }}
                      </div>
                      <div class="list-group-item">
                        <div class="tag asset">Next service</div>
                        {{ notifications.service_due }}
                      </div>
                      <div class="list-group-item">
                        <div class="tag hazard">Hazard review</div>
                        {{ notifications.hazard_review }}
                      </div>
                      
                      <div class="justify-content-space-around">
                        <router-link class="btn btn-blue btn-round" to="/app/dashboard/notifications" style="margin-top:12px; font-size:1.2rem;">See all notifications</router-link>
                      </div>
                    </div>
                    <!-- <div class="card-content">
                      <div class="notification success" v-show="notifications.length === 0">
                        <div class="notification-title">
                          <i class="fa fa-fw fa-check-circle"></i>
                          No notifications at the moment.
                        </div>
                      </div>

                      <div class="notification" :class="item.notificationClass" style="display:flex; justify-content:space-between;"  v-for="item in notifications" :key="item.id">

                        <div class="notification-title">
                          <i class="fa fa-fw fa-info-circle" v-show="item.notificationClass === 'info'"></i>
                          <i class="fa fa-fw fa-exclamation-triangle" v-show="item.notificationClass === 'danger'"></i> 
                          <i class="fa fa-fw fa-exclamation-circle" v-show="item.notificationClass === 'warning'"></i> 

                          {{ item.notificationTitle }}
                        </div>
                        <div v-show="item.notificationLink !== null">
                          <router-link :to="item.notificationLink.link">View</router-link>
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="card-footer">
                      <router-link class="justify-content-space-around" to="/app/dashboard/notifications">See all</router-link>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";

import LineChart from "../../components/charts/LineChart";
export default {
  name: "AppDashboard",
  components: {
      LineChart
  },
  watch: {
    dateRange: function(newValue, oldValue) {
      this.selectDateRange(newValue);
    }
  },
  data() {
    return {
      stats: {
        hazard: { total: "N/A" },
        safety: { total: "N/A" }
      },
      dateRange: '1 week',
      notifications: [],
      originalNotifications: [], 
      notificationFilter: 'All',
      safetyReportsChart: [],
      hazardRegisterChart: [],
      defaultOptions: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        scales: {
          yAxes: [
            {
              ticks: {
                fontColor: "white",
                stepSize: 5,
                beginAtZero: true
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                fontColor: "white",
                stepSize: 5,
                beginAtZero: true
              }
            }
          ]
        }
      }
    };
  },
  mounted() {
    this.getDataFor("1month");
    this.getDashboardNotifications()
    .then(response => {
      this.notifications = response.data[0];

      // this.originalNotifications = JSON.parse(JSON.stringify(this.notifications));
    })
  },
  methods: {
    ...mapActions(["getDashboardStats", "getDashboardNotifications"]),
    fillData(safety, hazard) {
      this.safetyReportsChart = {
        labels: safety.labels,
        datasets: [
          {
            label: "Total",
            backgroundColor: "rgba(76, 175, 80, 0.4)",
            borderColor: "#4caf50",
            data: safety.data
          }
        ]
      };

      this.hazardRegisterChart = {
        labels: hazard.labels,
        datasets: [
          {
            label: "Total",
            backgroundColor: "rgba(139, 195, 74, 0.4)",
            borderColor: "#8bc34a",
            data: hazard.data
          }
        ]
      };
    },
    getRandomInt() {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5;
    },

    selectDateRange(period) {
      // document.querySelector("#daterange .active").classList.remove("active");
      // .target.classList.add("active");
      this.getDataFor(period);
    },

    getDataFor(period) {
      this.getDashboardStats(period).then(response => {
        this.stats = response;
        this.fillData(this.stats.safety.graph, this.stats.hazard.graph);
      });
    },

    showTickIfFilteredOn(filter) {
      return this.notificationFilter === filter ? true : false;
    },

    filterNotificationsBy(filter) {
      if(filter === 'All') this.notifications = JSON.parse(JSON.stringify(this.originalNotifications));
      else {
        this.notifications = this.originalNotifications.filter(ele => ele.notificationType === filter);
      }

      this.notificationFilter = filter;
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
@import "../../assets/css/utils";

.chart {
  background: #37474f; 
  // border: 5px solid #b0bec5;
  padding: 16px;
  color: #fff;
  height: 150px;
  position: relative;
  
  margin-bottom:12px;
}

.chart-title {
  margin-top:0px;
  margin-bottom:4px;
}


.stat-card {
  position: relative;
  height: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  .stat-title {
    padding: 4px 8px;
    background: white;
    border:1px solid  #607086;
    float: left;
  }
  .stat-number {
    padding: 4px 8px;
    background: #607086;
    border:1px solid  #607086;
    color: white;
    float: left;
  }
}

.tag {
  margin-right: 6px;
  width: 130px;
  font-weight: 700;
  padding: 6px 16px;

  &.asset {
    background: #ffecb3; // 2
    color: #e6ac00; // 6
    border: 1px solid #e6ac00;
  }

  &.hazard {
    background: #daecc6; // 2
    color: #77ac39; // 6
    border: 1px solid #77ac39;
  }
}
</style>
