<template>
    <div class="notfound">
        <h1>No found</h1>
    </div>
</template>

<script>
export default {
  name: "Notfound",
  data() {
      return {}
  },
  methods: {

  },
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
