<template>
    <div class="notification-dashboard">
        <div class="content">
            <!-- <h4>Notification dashboard</h4> -->
            <div class="sub_nav">

				<div class="justify-content-start">
					<h2>
                        <router-link to="/app/dashboard">Dashboard</router-link>: 
                        Notifications
                    </h2>
				</div>
			</div>
            <div class="card-row">
                <div class="card">
                    <div class="card-header">People</div>
                    <div class="card-content">
                        <div class="notification success" v-show="notifications.people.length === 0">
                            <div class="notification-title">
                            <i class="fa fa-fw fa-check-circle"></i>
                            No notifications at the moment.
                            </div>
                        </div>

                        <div class="notification" :class="item.notificationClass" style="display:flex; justify-content:space-between;"  v-for="item in notifications.people" :key="item.id">

                            <div class="notification-title">
                                <i class="fa fa-fw fa-info-circle" v-show="item.notificationClass === 'info'"></i>
                                <i class="fa fa-fw fa-exclamation-triangle" v-show="item.notificationClass === 'danger'"></i> 
                                <i class="fa fa-fw fa-exclamation-circle" v-show="item.notificationClass === 'warning'"></i> 

                                {{ item.notificationTitle }}
                            </div>
                            <div v-show="item.notificationLink !== null">
                                <router-link :to="item.notificationLink.link">View</router-link>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Hazards</div>
                    <div class="card-content">
                        <div class="notification success" v-show="notifications.hazard.length === 0">
                            <div class="notification-title">
                            <i class="fa fa-fw fa-check-circle"></i>
                            No notifications at the moment.
                            </div>
                        </div>

                        <div class="notification" :class="item.notificationClass" style="display:flex; justify-content:space-between;"  v-for="item in notifications.hazard" :key="item.id">

                            <div class="notification-title">
                                <i class="fa fa-fw fa-info-circle" v-show="item.notificationClass === 'info'"></i>
                                <i class="fa fa-fw fa-exclamation-triangle" v-show="item.notificationClass === 'danger'"></i> 
                                <i class="fa fa-fw fa-exclamation-circle" v-show="item.notificationClass === 'warning'"></i> 

                                {{ item.notificationTitle }}
                            </div>
                            <div v-show="item.notificationLink !== null">
                                <router-link :to="item.notificationLink.link">View</router-link>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Assets</div>
                    <div class="card-content">
                        <div class="notification success" v-show="notifications.asset.length === 0">
                            <div class="notification-title">
                            <i class="fa fa-fw fa-check-circle"></i>
                            No notifications at the moment.
                            </div>
                        </div>

                        <div class="notification" :class="item.notificationClass" style="display:flex; justify-content:space-between;"  v-for="item in notifications.asset" :key="item.id">

                            <div class="notification-title">
                                <i class="fa fa-fw fa-info-circle" v-show="item.notificationClass === 'info'"></i>
                                <i class="fa fa-fw fa-exclamation-triangle" v-show="item.notificationClass === 'danger'"></i> 
                                <i class="fa fa-fw fa-exclamation-circle" v-show="item.notificationClass === 'warning'"></i> 

                                {{ item.notificationTitle }}
                            </div>
                            <div v-show="item.notificationLink !== null">
                                <router-link :to="item.notificationLink.link">View</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "NotificationDashboard",
  data() {
      return {
          notifications: [],
      }
  },
  created(){
      this.getAllNotifications()
      .then(response => {
          this.notifications = response.data;
      });
  },
  methods: {
      ...mapActions(["getAllNotifications"]),
  },
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
