<template>
    <div class="container">
     <navigation></navigation> 
    <router-view class="content-wrapper"></router-view>
  </div>
</template>

<script>
import Navigation from "../../components/Navigation";
export default {
  name: "AppWrapper",
  components: {
      'navigation': Navigation
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
