<template>
	<div class="incidents-investigation-add">
		<div class="content">
			<div class="flex-row">
				<div class="panel required safety">
          <h2>
            <router-link :to="`/app/incidents/view/${investigation.id}`">Incidents</router-link>: Add investigation
          </h2>
          <div class="grouping">
              <label for="investigation">Investigation findings</label>
              <textarea v-model="investigation.findings"></textarea>
          </div>

          <div class="grouping">
              <label for="recommendations">Recommendations</label>
              <textarea v-model="investigation.recommendations"></textarea>
          </div>

          <div class="grouping">
              <label>Factors causing the inicident to occur</label>
              <!-- <div class="checkbox" v-for="(item,key) in factors" :key="key">
                <input type="checkbox" :id="key" :name="key" value=""/>
                <label for="check">
                  <span></span> {{ item }}
                </label>
              </div> -->
            <div class="control-group">
              <label class="control control-checkbox"  v-for="(item,key) in factors" :key="key">
                  <span class="label">{{ item }}</span>
                  <input type="checkbox" @click="toggleItem(item)"/> 
                  <div class="control_indicator"></div>
              </label>
            </div>
          </div>

          <!-- <h5>Actions required</h5>
          <p>Any actions to address this incident</p>
          <div class="grouping">
              <label>Action description</label>
              <input type="input">
          </div>
          <div class="grouping">
              <label for="priority">Priority</label>
              <select>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
              </select>
          </div>

          <div class="grouping">
              <label for="priority">Priority</label>
              <select>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
              </select>
          </div> -->

          <alert v-bind:state="state"></alert>

					<button class="btn btn-green float-right" @click="addInvestigation()">Add</button>
				</div>                
			</div>
		</div>
  </div>
</template>

<script>

import { mapActions } from 'vuex';

import { Common } from "@/common";
import AlertMessage from "@/components/AlertMessage";
export default {
  name: "IncidentsInvestigationAdd",
  components: {
    alert: AlertMessage,
  },
  data() {
    return {
      state: Common.updateAlertState(
        "success",
        "Success",
        "This is a successful message",
        false
      ),
      investigation: {
        findings: "",
        recommendations: "",
        factors: [],
        id: null
      },

      factors: [
        "High workload",
        "Inadepquate equipment",
        "Inadepuately controlled hazard",
        "Inadepquate procedures",
        "Inadepquate supervison",
        "Lack of training",
        "New hazard",
        "Risk taking"
      ]
    };
  },
  created() {
    this.investigation.id = this.$route.params.id;
  },
  methods: {
    ...mapActions('safety',["addSafetyReportInvestigation"]),
    toggleItem(item) {
      let index = this.investigation.factors.indexOf(item);
      if (index > -1) {
        this.investigation.factors.splice(index, 1);
      } else {
        this.investigation.factors.push(item);
      }
    },

    addInvestigation(){
      this.addSafetyReportInvestigation(this.investigation)
      .then(response => {
        this.state = Common.updateAlertState(
          "success",
          "Success",
          "Investigation has been added",
          true
        );

        setTimeout(() => {
          this.$router.push(`/app/incidents/view/${this.investigation.id}`);
        }, 3000);
      })
      .catch(error => {
        console.error(error);
      });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
</style>
