<template>
    <div class="absences">
      <div class="content content-border content-40 people">    
        <h2>
          <router-link to="/app/staff/absences">Absences:</router-link> Add
        </h2>

        <div class="grouping">
          <label for="employee">Employee:</label>
          <!-- <input type="text" v-model="absence.employee"> -->
          <dataselect id="employee" name="employees" :placeholder="'Search for an employee'" :collection="employees" v-model="absence.employee"></dataselect>
        </div>

        <div class="grouping">
          <label for="date">Date</label>
          <datepicker id="date" name="date" v-model="absence.absence_date" format="dd/MM/yyyy"></datepicker>
        </div>

        <div class="grouping">
          <label for="type">Type of Absence</label>
          <dataselect id="type" name="type" :collection="datasets.absence_type" v-model="absence.type"></dataselect>
        </div>

        <div class="grouping">
          <label for="expected_date">Expected return date</label>
          <datepicker id="expected_date" name="expected_date" v-model="absence.expected_return_date" format="dd/MM/yyyy"></datepicker>
        </div>

        <div class="grouping">
          <label for="reason">Reason for absence</label>
          <textarea id="reason" name="reason" v-model="absence.reason"></textarea>
        </div>

        <alert :state="state"></alert>

        <div class="grouping justify-content-end">
          <button class="btn btn-green" @click="addAbsenceClick()">
            Add <i class="fa fa-fw fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
</template>

<script>

import { Common } from "@/common";
import AlertMessage from "@/components/AlertMessage";
import DataSelect from "@/components/DataSelect";
import DatePicker from "vuejs-datepicker";
import { mapGetters, mapActions, mapState } from 'vuex';
export default {
  name: "StaffAbsencesViewall",
  components: {
    datepicker: DatePicker,
    dataselect: DataSelect
  },
  data() {
      return {
        absence: {
          employee: '',
          absence_date: new Date(),
          type: '',
          expected_return_date: new Date(),
          reason: ''
        },
        datasets: [],

        employees: [],
        state: Common.updateAlertState(
          "success",
          "Success",
          "This is a successful message",
          false
        ),
      }
  },
  mounted() {
    let dataCollections = ["absence_type"];

    this.getDataCollections(dataCollections).then(
      response => {
        this.datasets = response.data;
      },
      error => {
        // handle error
      }
    );

    this.getPeopleNames()
    .then(result => {
      this.employees = result.data;
    });
  },
  methods: {
    ...mapActions(["getDataCollections"]),
    ...mapActions('staff', ["getPeopleNames", "addAbsence"]),

    addAbsenceClick() {
      this.state = Common.updateAlertState("info", "Sending", "Your absence is being added", true);

      this.addAbsence(this.absence)
      .then(result => {
        Common.updateAlertState("success", "Success", "Absence has been added", true);
        Common.closeAlertState(this.state, 5000);
      })
    },
  },
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
