<template>
    <div class="absences">
      <div class="content content-border people">
        <div class="sub_nav">
          <div class="justify-content-between">
            <div class="justify-content-start">
              <h2>Absences</h2>				
              <router-link to="/app/staff/absences/add" class="btn btn-lg btn-blue">New <i class="fa fa-fw fa-plus"></i></router-link>
            </div>
            <div>
              <button class="btn">
                Calender
                <i class="fas fa-fw fa-calendar"></i>
              </button>

              <button class="btn">
                Table
                <i class="fas fa-fw fa-th-list"></i>
              </button>
            </div>
          </div>


          <!-- <searchbox :settings="searchSettings" :dataitems="people" @update="updateSearch"></searchbox> -->
        </div>

        <data-table :settings="tableSettings" :data="absences"></data-table>
      </div>
    </div>
</template>

<script>
import SearchBox from "@/components/SearchBox";
import DataTable from "@/components/DataTable";
import { mapActions } from 'vuex';
export default {
  name: "StaffAbsencesViewall",
  components: {
    "data-table": DataTable,
    searchbox: SearchBox
  },
  data() {
    return {
      absences: [],
      tableSettings: {
        viewLink: {
          state: false,
          // key: "id",
          // url: "/app/people/view"
        },
        columns: [
          { key: "type", human: "Type", sortable: true },
          { key: "absence_date", human: "Date", sortable: true, isDate: true },
          { key: "employee_id", human: "Employee" },
          { key: "reason", human: "Reason" },
        ],

        maxNumber: 10,
        loading: true
      }
    };
  },
  mounted() {
    this.getAbsences()
    .then(result => {
      this.absences = result.data;
      this.tableSettings.loading = false;
    })
  },
  methods: {
    ...mapActions('staff', ["getAbsences"]),
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
</style>
