<template>
  <div>
		<div class="content content-border content-40 assets">
      <h2>
        <router-link to="/app/users">Assets</router-link>: New asset
      </h2>

      <div class="grouping">
          <label for="assettype">Asset Type</label>
          <select v-model="asset.type">
              <option value="Vehicle">Vehicle</option>
              <option value="Other">Other</option>
          </select>
      </div>

      <div class="grouping">
          <label for="assetid">Asset ID</label>
          <input type="text" v-model="asset.asset_id">
      </div>

      <div class="grouping">
        <label for="location">Location</label>
        <dataselect v-bind:collection="datasets.location" v-model="asset.location"></dataselect>
      </div>

      <div class="grouping">
          <label for="commets">Comments</label>
          <textarea v-model="asset.comments"></textarea>
      </div>

      
      <div class="grouping" v-show="optionalFields.manfacture_date.state">
        <label for="manfactureDate">Manfacture date <small class="float-right">Optional</small></label>
        <datepicker id="manfactureDate" name="manfactureDate" v-model="asset.manfacture_date" format="dd/MM/yyyy"></datepicker>
      </div>
      <div class="grouping" v-show="optionalFields.wof_date.state">
        <label for="wofDate">Warrent of Fitness expiry date <small class="float-right">Optional</small></label>
        <datepicker id="wofDate" name="wofDate" v-model="asset.wof_date" format="dd/MM/yyyy"></datepicker>
      </div>
      <div class="grouping" v-show="optionalFields.cof_date.state">
        <label for="cofDate">COF expiry date <small class="float-right">Optional</small></label>
        <datepicker id="cofDate" name="cofDate" v-model="asset.cof_date" format="dd/MM/yyyy"></datepicker>
      </div>
      <div class="grouping" v-show="optionalFields.next_service_date.state">
        <label for="nextServiceDate">Next service date <small class="float-right">Optional</small></label>
        <datepicker id="nextServiceDate" name="nextServiceDate" v-model="asset.next_service_date" format="dd/MM/yyyy"></datepicker>
      </div>

      <div class="grouping">
        <div class="dropdown">
          <button class="btn btn-link">Optional fields 
            <i class="fa fa-fw fa-caret-down dropdown-hover-hide"></i>
            <i class="fa fa-fw fa-caret-up dropdown-hover-show"></i>
          </button>
          <div class="dropdown-content">
            <div class="dropdown-item" v-for="item in optionalFields" :key="item.name" @click="item.state = !item.state">
              {{ item.human }}
              <i v-show="item.state" class="fa fa-fw fa-check float-right"></i>
            </div>
          </div>
        </div>
      </div>

      

      <alert v-bind:state="state"></alert>

      <div class="float-right">
          <button class="btn btn-green" @click="add()">Add</button>
      </div>

                
  
    </div>
  </div>
</template>

<script>
import DataSelect from "@/components/DataSelect";
import AlertMessage from "@/components/AlertMessage";
import DatePicker from "vuejs-datepicker";

import { Common } from "@/common";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "AssetsAdd",
  components: {
    dataselect: DataSelect,
    alert: AlertMessage,
    datepicker: DatePicker
  },
  data() {
    return {
      asset: {
        type: "",
        asset_id: "",
        location: {
          name: ""
        },
        comments: "",
        manfacture_date: null,
        wof_date: null,
        cof_date: null,
        next_service_date: null,
      },
      state: Common.updateAlertState(
        "success",
        "Success",
        "This is a successful message",
        false
      ),
      datasets: [],
      optionalFields: {}
    };
  },
  created() {
    const collections = ["location"];
    this.getDataCollections(collections).then(
      result => (this.datasets = result.data)
    );

    this.optionalFields = this.getOptionalFields("assets");
  },
  computed: {
    ...mapGetters(["getOptionalFields"])
  },
  methods: {
    ...mapActions('assets', ["addAsset"]),
    ...mapActions(["getDataCollections"]),
    add() {
      this.state = Common.updateAlertState(
        "info",
        "Sending",
        "Adding new asset",
        true
      );
      this.addAsset(this.asset).then(response => {
        this.state = Common.updateAlertState(
          "success",
          "Success",
          "Added new asset. You will be redirected",
          true
        );

        
        setTimeout(() => {
          this.$router.push(`/app/assets`);
        }, 5000);
      });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
