<template>
	<div>
		<div class="content content-border assets">
			<div class="sub_nav">

				<div class="justify-content-start">
					<h2>Assets</h2>				
					<router-link to="/app/assets/add" class="btn btn-lg btn-blue">New <i class="fa fa-fw fa-plus"></i></router-link>
				</div>

				<searchbox :settings="searchSettings" :dataitems="assets" @update="updateSearch"></searchbox>
			</div>
			<data-table v-bind:data="assets" v-bind:settings="tableSettings"></data-table>
		</div>
		
	</div>
</template>

<script>
import { mapActions } from "vuex";
import DataTable from "@/components/DataTable";
import SearchBox from "@/components/SearchBox";
export default {
  name: "AssetsViewAll",
  components: {
    "data-table": DataTable,
    searchbox: SearchBox
  },
  data() {
    return {
      assets: [],
      searchSettings: {
        state: "assets",
        search: {
          value: "",
          on: "asset_id",
          options: null
        },
        filters: null
      },

      tableSettings: {
        viewLink: {
          state: true,
          key: "id",
          url: "/app/assets/view"
        },
        columns: [
          {
            key: "asset_id",
            human: "Asset ID",
            sortable: true,
            size: "xsmall"
          },
          { key: "type", human: "Type", sortabe: true },
          { key: "location_name", human: "Location", sortabe: true },
          { key: "comments", human: "Comments", sortabe: true }
        ],
        maxNumber: 10,
        loading: true
      }
    };
  },
  created() {
    this.getAssets().then(response => {
      this.assets = response.data;
      console.log(this.assets);
      this.tableSettings.loading = false;
    });
  },
  methods: {
    ...mapActions('assets', ["getAssets"]),
    updateSearch(assets) {
      this.assets = assets;
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
