<template>
    <div>
        <div class="content content-border content-50 assets">
            <div class="sub_nav">
                <div class="justify-content-between align-items-center">
                    <h2><router-link to="/app/assets">Assets</router-link>: Asset {{ asset.asset_id }} ( {{ asset.type }} )</h2>

                    <div class="dropdown">
                        <button class="btn">
                            Options <i class="far fa-fw fa-angle-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <div class="dropdown-item justify-content-between align-items-center" @click="deleteModalOptions.open = true">
                                Delete <i class="far fa-fw fa-trash"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-lg" :class="isActiveUIState('details')" @click="updateUIState('details')">Details</button>
                    <button class="btn btn-lg" :class="isActiveUIState('service')" @click="updateUIState('service')">Events</button>                        
                </div>
            </div>
            <div class="card card-100" v-if="UIState === 'details'">
                <div class="card-header">
                    <div class="card-title">
                        Details
                    </div>

                    <div class="float-right">
                        <button class="btn btn-blue" v-show="editing" @click="triggerUpdate()">Save</button>
                        <button class="btn btn--plain" v-show="editing" @click="cancelEdit()">Cancel</button>
                        <button class="btn btn-purple" @click="toggleEdit()" v-show="!editing">Edit</button>
                    </div>
                </div>
                
                <div class="card-content">
                    <alert v-bind:state="state"></alert>

                    <div class="grouping">
                        <label for="assetid">Asset ID</label>
                        <span v-show="!editing">{{ asset.asset_id }}</span>
                        <input v-show="editing" id="assetid" name="assetid" type="text" v-model="asset.asset_id">
                    </div>

                    <div class="grouping">
                        <label for="type">Type</label>
                        <span v-show="!editing">{{ asset.type }}</span>
                        <input v-show="editing" id="type" name="type" type="text" v-model="asset.type">
                    </div>

                    <div class="grouping">
                        <label for="location">Location</label>
                        <span v-show="!editing">{{ asset.location_name }}</span>
                        <dataselect v-show="editing" type="text" id="location" v-bind:collection="datasets.location" v-model="asset.location"></dataselect>
                    </div>

                    <div class="grouping">
                        <label for="comments">Comments</label>
                        <span v-show="!editing">{{ asset.comments }}</span>
                        <textarea v-show="editing" id="comments" name="comments" v-model="asset.comments"></textarea>
                    </div>


                    <div class="grouping" v-show="asset.manfacture_date !== null || editing">
                        <label for="manfactureDate">Manfacture date</label>
                        <span v-show="!editing">{{ asset.manfacture_date | date }} </span>
                        <datepicker v-show="editing" id="manfactureDate" name="manfactureDate" v-model="asset.manfacture_date" format="dd/MM/yyyy"></datepicker>
                    </div>
                    <div class="grouping" v-show="asset.wof_date !== null  || editing">
                        <label for="wofDate">Warrent of Fitness expiry date</label>
                        <span v-show="!editing">{{ asset.wof_date | date }} </span>
                        <datepicker v-show="editing" id="wofDate" name="wofDate" v-model="asset.wof_date" format="dd/MM/yyyy"></datepicker>
                    </div>
                    <div class="grouping" v-show="asset.cof_date !== null  || editing">
                        <label for="cofDate">COF expiry date</label>
                        <span v-show="!editing">{{ asset.cof_date | date }} </span>
                        <datepicker v-show="editing" id="cofDate" name="cofDate" v-model="asset.cof_date" format="dd/MM/yyyy"></datepicker>
                    </div>
                    <div class="grouping" v-show="asset.next_service_date !== null  || editing">
                        <label for="nextServiceDate">Next service date</label>
                        <span v-show="!editing">{{ asset.next_service_date | date }} </span>
                        <datepicker v-show="editing" id="nextServiceDate" name="nextServiceDate" v-model="asset.next_service_date" format="dd/MM/yyyy"></datepicker>
                    </div>
                </div>
            </div>

            <div class="card card-100" v-if="UIState === 'service'">
                <div class="card-header">
                    Service logs

                    <div class="float-right">
                        <button class="btn btn-green" @click="serviceModalOptions.open = true">Add</button>
                    </div>
                </div>

                <div class="card-content">
                    <div class="list-group-item" v-for="(item, key) in serviceLogs" :key="key">
                        <div class="grouping small">
                            <label>Type</label>
                            {{ item.service_name }}
                        </div>

                        <div class="grouping small">
                            <label>Date</label>
                            {{ item.service_date | date }} 
                        </div>

                        <div class="grouping small">
                            <label>Comments</label>
                            {{ item.service_comments}} 
                        </div>
                    </div>

                    <modal v-model="serviceModalOptions">            
                        <div class="modal-dialog" slot="modal">
                            <div class="modal-header green">
                                <div class="title">Add service log</div>

                                <div class="float-right">
                                    <button class="btn btn-none text-white" @click="serviceModalOptions.open = false"><i class="fas fa-times"></i></button>
                                </div>
                            </div>

                            <div class="modal-content">
                                <div class="grouping">
                                    <label for="serviceType">Service type:</label>
                                    <select id="serviceType" name="serviceType" v-model="newServiceLog.service_type">
                                        <option v-for="(item, key) in datasets.service_types" :key="key" :value="item">{{ item.name }}</option>
                                    </select>
                                </div>

                                <div class="grouping">
                                    <label for="serviceDate">Service Date</label>
                                    <datepicker id="serviceDate" name="serviceDate" v-model="newServiceLog.service_date" format="dd/MM/yyyy"></datepicker>
                                </div>

                                <div class="grouping">
                                    <label for="serviceComments">Comments</label>
                                    <textarea name="serviceComments" id="serviceComments" cols="30" rows="2" v-model="newServiceLog.service_comments"></textarea>
                                </div>

                                <alert v-bind:state="serviceState"></alert>
                            </div>

                            <div class="modal-footer">
                                <div class="float-right">
                                    <button class="btn btn-danger" @click="serviceModalOptions.open = false">No</button>
                                    <button class="btn btn-green" @click="addNewService()">Add <i class="fas fa-fw fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </modal>
                </div>
            </div>
        </div>

        <modal v-model="deleteModalOptions">            
            <div class="modal-dialog" slot="modal">
                <div class="modal-header red">
                    <div class="justify-content-between align-items-center">

                        <div class="title">Delete prompt...</div>

                        <button class="btn btn-none text-white" @click="deleteModalOptions.open = false"><i class="fas fa-times"></i></button>
                    
                    </div>
                </div>

                <div class="modal-content">
                    <h2>Are you sure you want to delete this asset?</h2>
                </div>

                <div class="modal-footer">
                    <div class="float-right">
                        <button class="btn btn-danger" @click="deleteModalOptions.open = false">No</button>
                        <button class="btn btn-green" @click="deleteAssetClick()">Yes</button>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
import { mapActions } from "vuex";
import { Common } from "@/common";
import AlertMessage from "@/components/AlertMessage";
import DataSelect from "@/components/DataSelect";
import DatePicker from "vuejs-datepicker";
import Modal from "@/components/Modal";


export default {
  name: "AssetsViewSingle",
  components: {
    alert: AlertMessage,
    dataselect: DataSelect,
    datepicker: DatePicker,
    modal: Modal
  },
  data() {
    return {
      UIState: "details",
      editing: false,
      originalAsset: [],
      asset: {
        location: {
          name: ""
        }
      },
      serviceLogs: [],
      newServiceLog: {
        service_type: '',
        service_date: new Date(),
        service_comments: '',
      },
      datasets: [],
      serviceState: Common.setAlertState(),
      state: Common.setAlertState(),
      
      serviceModalOptions: {
        open: false
      },
      deleteModalOptions: {
        open: false
      }


    };
  },
  created() {
    const id = this.$route.params.id;
    this.getAssetById(id).then(response => {
      this.asset = response.data.asset;
      this.serviceLogs = response.data.service;

      this.originalAsset = JSON.parse(JSON.stringify(this.asset));
    });

    let dataCollections = ["location", "service_types"];
    this.getDataCollections(dataCollections).then(
      response => (this.datasets = response.data)
    );
  },
  methods: {
      ...mapActions(["getDataCollections"]),
    ...mapActions('assets', [
      "getAssetById",
      "updateAssetById",
      "deleteAssetById",
      "addServiceLogToAsset",
    ]),
    toggleEdit() {
      this.editing = true;
      this.originalAsset = JSON.parse(JSON.stringify(this.asset));
    },

    cancelEdit() {
      this.editing = false;
      this.asset = JSON.parse(JSON.stringify(this.originalAsset));
    },

    triggerUpdate() {
      this.state = Common.updateAlertState(
        "info",
        "Updating",
        `Asset ${this.asset.asset_id} is being updated`,
        true
      );
      this.updateAssetById(this.asset).then(response => {
        this.state = Common.updateAlertState(
          "success",
          "Success",
          `${this.asset.asset_id}'s has been updated`,
          true
        );
        this.editing = false;

        setInterval(() => {
          this.state.show = false;
        }, 3000);
      });
    },

    deleteAssetClick() {
      const id = this.$route.params.id;
      this.state = Common.updateAlertState(
        "info",
        "Deleting...",
        `${this.asset.asset_id} is being deleted. You will be redirected.`,
        true
      );
      this.deleteAssetById(id).then(result => {
        this.$router.push("/app/assets");
      });
    },
    isActiveUIState(state) {
      return Common.isActiveUIState(this.UIState, state);
    },

    updateUIState(state) {
      this.UIState = state;
    },

    addNewService() {
        this.newServiceLog.asset_id = this.$route.params.id;

        this.addServiceLogToAsset(this.newServiceLog)
        .then(response => {
            console.log(response.data);

            this.serviceState = Common.updateAlertState('success', 'Success', 'Added Service Log', true);

            setTimeout(() => {
                this.serviceState.show = false;
            }, 5000);
        });        
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
