@import "./utils";
@import "media";
// Tooltips
@import url("https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css");

body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;

  font-size: 1rem;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #fff;
  
}

.flex {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  flex-grow: 1;
  height: 100%;
  width: 100%;
}

// Login, Register Page
.bg-fancy {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  .content {
    position: relative;
    width: 60%;
    height: 90%;
    padding: 12px;
    top: 5%;
    margin: 0 auto;

    background: #fff;
    box-shadow: 0 0 10px #aaa;

    box-sizing: border-box;
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
  width: 85vw;
}

.content {
  width: 100%;
  margin: 8px;
  padding: 6px 12px;  
  &.content-border {
    border:1px solid #b6bfc8;
  }
  &.registers { border-top: 4px solid $bg-registers; }
  &.safety{ border-top: 4px solid $bg-safety; }
  &.assets { border-top: 4px solid $bg-assets; }
  &.documents { border-top: 4px solid $bg-documents; }
  &.tasks { border-top: 4px solid $bg-tasks; }
  &.people { border-top: 4px solid $bg-people; }
  &.users { border-top: 4px solid $bg-users; }
  &.usergroups { border-top: 4px solid $bg-usergroups; }
  &.data { border-top: 4px solid $bg-data; }
  &.admin { border-top: 4px solid $bg-admin; }

  &-40 {
    width: 40vw;
    margin: 8px;
    min-height: 200px;
    max-height: 650px;
    box-sizing: border-box;
  }
  &-50 {
    width: 50vw;
    margin: 8px;
    box-sizing: border-box;
  }

  &-60 {
    width: 60vw;
    margin: 8px;
    box-sizing: border-box;
  }

  &-70 {
    width: 70vw;
    margin: 8px;
    box-sizing: border-box;
  }

  &-auto {
    width: auto;
    margin: 8px;
    box-sizing: border-box;
  }

  h2 {
    margin: 6px 0;
  }
}

pre {
  background: #efefef;
  border-left: 6px solid #512da8;
  padding: 6px;
}

label {
  font-weight: 600;
}

.sub_nav {
  width: 100%; 
  color: #000;
  box-sizing: border-box;
  margin-bottom: 12px;

  h2 {
    margin: 6px 0;
    margin-right: 12px;
  }
}

.searchbox {
  margin-bottom: 12px;
  input {
    width: 30vw;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline:none;

    border-radius: 30px;
    padding-left: 15px;
    margin-right: 6px;

    font-family: $primary-font;

    &:focus {
      box-shadow: 0 0 3px $blue;
    }
  }

  select {
    // box-sizing: border-box;
    padding: .4rem .75rem;
    font-size: 1rem;
  }
}

.filters {
  overflow: auto;
}

.filter-selection {
  font-size: 1.2rem;
  margin-bottom: 12px;
  margin-left: 6px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;

  align-items: center;
  background: white;
  font-size: 1.2rem;
  padding: 8px 14px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  .title {
    font-weight: 600;
  }
}

/*----------------------------------------------
        Flex
----------------------------------------------*/
.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}


/*----------------------------------------------
  Navigation
----------------------------------------------*/
.navigation {
  flex-direction: column;
  background-color: #374049;
  width: 13vw;
  box-shadow: 0 0 5px #555;
  padding: 6px;
  box-sizing: border-box;

  .nav-collapse {
    display: none;
    visibility: hidden;

    margin: 6px;
    border-radius: 5px;
    border: 1px solid white;
  }

  .nav-item {
    padding: 14px;
    width: 75%;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 auto;
    text-align: left;
    display: block;
    transition: background 0.2s ease;
    color: #f0f2f4;
    text-decoration: none;
    cursor: pointer;

    i:first-child {
      margin-right: 7px;
    }

    &.dev-admin {
      background: white;
      color: #555 !important;
    }

    &:hover{
      text-decoration: none;
      background: #7c8d9d;
      color: #f0f2f4!important;
    }

    &.safety:hover {
      background: #83c985; 
      color: #275929 !important; 
    }
    &.registers:hover {
      background: #a9d379; // 4
      color: #426020 !important; // 3
      
    }
    // &.tasks {
    //   background: $bg-tasks;
    //   border:1px solid #555;
    // }
    &.assets:hover {
      background: #ffd24d;
      color: #806000 !important;
    }
    &.documents {
      background: $bg-documents;
    }
    &.people:hover {
      background: #7b88d1;
      color: #212a5f !important;
    }
    &.users:hover {
      background: #56aff6;
      color: #042a49 !important;
    }
    &.usergroups {
      background: $bg-usergroups;
      border:1px solid #555;
    }
    &.data:hover {
      background: #4debff;
      color: #007180 !important;
    }
    &.logout {
      margin-top: 24px;
    }
  }

  .nav-menu-items {

    width: 75%;
    font-weight: 500;
    margin: 0 auto;
    margin-left: 52px;
    text-align: left;
    display: block;

    a {
      padding: 8px;
      font-size: 1rem;
      color: #b6c0c8;
      display: block;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.nav-title {
  color: white;
  font-size: 1.4rem;
  margin: 12px auto;
  padding: 0;
  line-height: 1.2;
  text-align: center;
}




/*----------------------------------------------
        Buttons
----------------------------------------------*/
.btn {
  background: white;
  padding: 0 12px;
  // height: 34px;
  line-height: 34px;
  font-size: 11pt;
  border: none;
  color: $black;
  border: 1px solid #a6a6a6;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  margin-bottom: 0;
  // box-shadow: 3px 3px 0px #b5beca;
  box-sizing: border-box;
  outline: $blue;

  display: inline-block;
  text-decoration: none;

  &.btn-block {
    display: block;
    margin-bottom: 2px;
  }

  &.btn-lg {
    min-width: 80px;
    padding: 0px 4px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;

    box-sizing: content-box;
    margin: 6px 0;
    line-height: 34px;
  }

  // i {
  //   margin-left: 4px;
  // }

  &:focus {
    outline: none;
  }

  &:disabled {
    background: #eee;
    cursor: not-allowed;
  }

  &.btn-none {
    background: transparent;
    border-color: transparent;
    
  }

  &.btn-outline {
    &-red {
      background: white;
      color: $red;
      border: 1px solid $red;
    }
  }

  &.btn-blue,
  &.active,
  &.btn-purple,
  &.btn-yellow,
  &.btn-red,
  &.btn-green {
    border: none;
    color: white;
  }

  &.btn-purple {
    background: $purple;
    border: 1px solid $darkpurple;

    &.btn-emphasis {
      box-shadow: 3px 3px 0px $darkpurple;
    }
  }

  &.btn-blue,
  &.active {
    background: $blue;
    border: 1px solid $darkblue;

    &.btn-emphasis {
      box-shadow: 3px 3px 0px $darkblue;
    }
  }
  &.btn-yellow {
    background: $yellow;
    border: 1px solid $darkyellow;

    &.btn-emphasis {
      box-shadow: 3px 3px 0px $darkyellow;
    }
  }

  &.btn-red {
    background: $red;
    border: 1px solid $darkred;

    &.btn-emphasis {
      box-shadow: 3px 3px 0px $darkred;
    }
  }
  &.btn-green {
    background: $green;
    border: 1px solid $darkgreen;

    &.btn-emphasis {
      box-shadow: 3px 3px 0px $darkgreen;
    }
  }

  &.btn-grey {
    background: #f5f5f5;
  }

  // &:first-child.active {
  //   border-left: 1px solid #fff;
  // }
  // &:last-child.active {
  //   border-right: 1px solid #fff;
  // }
}

.btn-group {
  margin: 6px 0 12px 0;

  label {
    margin-right: 6px;
  }

  .btn {
    min-width: 110px;
  }
}

.btn--radius {
  color: white;
  border-radius: 5px;
  border: none;
}

/*----------------------------------------------
        Messages
----------------------------------------------*/
.message {
  padding: 12px;
  background: white;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 5px 2px -2px #9d9d9d;
  margin-bottom: 12px;

  display: block;
  transition: opacity 0.3s ease;

  &.warning {
    background: $warning-bg;
    color: $warning-text;
  }
  &.info {
    background: $info-bg;
    color: $info-text;
  }
  &.success {
    background: $success-bg;
    color: $success-text;
  }
  &.danger {
    background: $danger-bg;
    color: $danger-text;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*----------------------------------------------
        Dropdown
----------------------------------------------*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  min-width: 140px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 6px 8px;
  font-size: 0.95rem;
  z-index: 1;
  right: auto;

  &.dropright {
    right: 0px !important;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-hover-show,
.dropdown:hover .dropdown-hover-hide {
  display: none;
}
.dropdown:hover .dropdown-hover-show {
  display: inline-block;
}

.dropdown-item {
  padding: 8px;
  margin: 0;
  text-decoration: none;
  &:hover {
    color: $blue;
    cursor: pointer;
  }
}

a.dropdown {
  text-decoration: none;
   color: $blue;
}

.dropdown-content .active {
  // color: $blue;
  font-weight: 600;
}

/*----------------------------------------------
        Form Groupings
----------------------------------------------*/
table input,
.grouping input,
.grouping select,
.grouping textarea {
  width: 100%;
  padding: 6px;
  margin: 2px 0 6px 0;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #bebebe;
  color: black;
  font-family: $primary-font;
}

.grouping {
  margin-bottom: 6px;
  label {
    display: block;
  }

  &--inline {
    display: inline-block;
    float: left;
    margin-right: 12px;
    width: 180px;
  }
}

.grouping .label--full-width {
  width: 100%;
}

.grouping-row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;

  .grouping--grow {
    width: 100%;
  }
  .grouping--grow:not(:last-child) {
    margin-right: 10px;
  }
}

/*----------------------------------------------
    Checkboxes
----------------------------------------------*/
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 2px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 1rem;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: $blue;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: $blue;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

/*----------------------------------------------
        Tables
----------------------------------------------*/

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #f3f3f3;
  border-bottom:2px solid #ddd;
  padding: 10px;
  text-align: left;
}
table,
td {
  border: 1px solid #ededed;
  cursor: pointer;
}
td {
  padding: 8px;
  text-align: left;
}
tr td {
  transition: all 0.2s ease-in-out;
}
td {
  background-color: #fff;
}
tr:hover td {
  background: #f6f6f6;
}

table input {
  margin: 0;
}

/*----------------------------------------------
  Notification
----------------------------------------------*/

.notification-panel {
  width: 25vw;

  .card-content {
    height: 85vh;
    overflow-y: auto;
  }
  .card-footer {
    font-size: 1.3rem;
  }
}
.notification {
  padding: 8px; 
  margin-bottom: 6px;
  border-radius: 4px;

  &.info {
    background: $info-bg;
    border: 1px solid $info-text;
    color: $info-text;

    a {
      color: $info-text;
      font-weight: 600;
    }
  }
  &.danger {
    background: $danger-bg;
    border: 1px solid $danger-text;
    color: $danger-text;
    a {
      color: $danger-text;
      font-weight: 600;
    }
  }
  &.warning {
    background: $warning-bg;
    border: 1px solid $warning-text;
    color: $warning-text;

    a {
      color: $warning-text;
      font-weight: 600;
    }
  }
  &.success {
    background: $success-bg;
    border: 1px solid $success-text;
    color: $success-text;
    a {
      color: $success-text;
      font-weight: 600;
    }
  }

  &.grey {
    background: $lightgrey;
    border: 1px solid $black;
    color: $black;
    a {
      color: $black;
      font-weight: 600;
    }
  }

  p {
    line-height: 1.2;
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .notification-title {
    font-weight: 600;
    font-size: 1rem;
  }
}

/*----------------------------------------------
        Card
----------------------------------------------*/
.card-column {
  display: flex;
  flex-direction: column;
}

.bg-blue {
  background: $blue;
}

.card {
  background: #fff;
  width: 400px;
  align-self: flex-start;
  margin-bottom: 16px;
  margin-right: 12px;
  border: 1px solid #eee;
  // -webkit-box-shadow: 0 6px 6px -6px #9e9f9f;
  // -moz-box-shadow: 0 6px 6px -6px #9e9f9f;
  // box-shadow: 0 6px 6px -6px #9e9f9f;
  float: left;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  &.card--30 {
    width: 30%;
  }
  &.card--50 {
    width: 50%;
  }
  &.card-60 {
    width: 60%;
  }
  &.card-70 {
    width: 70%;
  }
  &.card-100 {
    width: 100%;
  }

  &.card-grow {
    flex-grow: 1;
  }
}
.card-header {
  background: #ffffff;
  padding: 12px;
  margin: 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  height: 30px;
  align-items: center;
  border-bottom: 1px solid #cbd1d8;
}
.card-title {
  font-size: 1rem;
  font-weight: 600;
  float: left;
  padding: 4px 0;
}

.card-content {
  background: #f9f9f9;
  color: #000;
  padding: 8px;
  flex: 1 auto;

  &.content--white {
    background: #fff;

    border: none;
    border-top: none;
  }
}

.card-footer {
  background: #fff;
  border-top: 1px solid #cbd1d8;
  padding: 6px;

  .sign-off-title {
    padding: 6px;
    margin: 0px;
  }

  .sign-off {
    margin: 3px;
    display: inline-block;
  }
}

.card--people {
  background: #303f9f;
  color: white;
}

.light {
  font-weight: 400;
}

// Overriding plugins
// vuejs-datepicker
.cell:hover {
  border-color: $purple !important;
}
.cell.selected {
  background: $blue !important;
  color: white;
}

.fa-right {
  float: right;
  margin-top: 2px;
}

.no-link {
  text-decoration: none;
}


/*----------------------------------------------
  Flexbox
----------------------------------------------*/

// justify
.justify-content-space-around {
  display: flex;
  justify-content: space-around;
}

.justify-content-align-right {
  display: flex;
  justify-self: flex-end;
}

/*----------------------------------------------
  Text
----------------------------------------------*/
.text-red {
  color: $red;
}
.text-yellow {
  color: $yellow;
}
.text-green {
  color: $green;
}

.text-centre {
  text-align: center;
}

.m-0 {
  margin: 0;
}

h2 {
  margin-bottom: 6px;
}
h3 {
  color: grey;
  margin-top: 0px;
}
