@media only screen 
and (min-width : 320px) 
and (max-width : 480px) { /* smartphones, Android phones, landscape iPhone */
    .card {
        &.card-grow {
            width: 90% !important;
            
        }
    }
    .feature-group .feature {
        width: 100vw;
    }

    .container {
        flex-direction: column !important;
    }
    .navigation {
        width: 100% !important;
        margin-bottom: 12px;

        .nav-title {
            text-align: left;
        }

        .nav-collapse {
            display: block !important;
            visibility: visible !important;
        }
    }

    .content-wrapper {
        width: 100vw !important;
        box-sizing: content-box;
    }
}


@media only screen 
and (min-width : 490px) 
and (max-width : 920px) {
    .navigation {
        width: 25vw !important; 
    }

    .searchbox {
        input {
            width: 50vw;
        }
    }
}