$bg-dashboard: #37474f;
$bg-safety: #4caf50;
$bg-registers: #8bc34a;
$bg-assets: #ffc107;
$bg-documents: #e91e63;
$bg-tasks: #9c27b0;
$bg-people: #3f51b5;
$bg-users: #2196f3;
$bg-usergroups: #00bcd4;
$bg-data: #009688;
$bg-admin: #78909c;
$bg-logout: #546e7a;

$blue: #4776e6;
$darkblue: #153d9d;
$purple: #8e54e9;
$darkpurple: #4a149e;
$yellow: #f0ad4e;
$darkyellow: #a5660e;
$red: #d9534f;
$darkred: #932320;
$green: #5cb85c;
$darkgreen: #367c36;

$black: #2f2f2f;
$lightgrey: #f0f0f0;

$info-bg: #BBDEFB;
$danger-bg: #FFCDD2;
$warning-bg: #FFECB3;
$success-bg: #C8E6C9;

$info-text: #0D47A1;
$danger-text: #B71C1C;
$warning-text: #FF6F00;
$success-text: #1B5E20;


$white: #fff;

input,
select,
textarea {
  font-size: 1rem;
  padding: 6px;
  line-height: 1;
}

$primary-font: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
$secondary-font: "Open Sans", "Helvetica Neue", Arial, sans-serif;

.small {
  font-size: smaller;
}
.float-left {
  float: left;
}
.float-right {
  display: inline;
  float: right;
}

.overflow {
  overflow: auto;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.justify-content-start {
  display: flex;
  justify-content: flex-start;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

/*----------------------------------------------
        Font
----------------------------------------------*/

a {
  color: $blue;
}

p {
  line-height: 1.5;
}


.text-white {
  color: $white;
}

h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

h4 {
  margin: 0.5rem 0;
}
