<template>
    <div class="admindetails">
        <div class="justify-content-between">
            <div class="card card-grow">
                <div class="card-header">
                    <div class="card-title">
                        Account settings   
                    </div> 
                </div>

                <div class="card-content">
                    <div class="grouping">
                        <label>Plan:</label> {{ account.plan_name }}
                    </div>
                    <div class="grouping">
                        <label>User Limit</label> {{ account.user_limit }}
                    </div>
                    <button class="btn btn-link">Change Plan</button>
                </div>
            </div>
            
            <div class="card card-grow">
                <div class="card-header">
                    <div class="card-title">
                        Business contact
                    </div>
                </div>

                <div class="card-content">
                    <div class="grouping">
                        <label>Business Name</label>
                        <input type="text" v-model="account.name"/>
                    </div>
                    <div class="grouping">
                        <label>Business Person</label>
                        <input type="text" v-model="account.contact_person"/>
                    </div>
                    <div class="grouping">
                        <label>Business Email</label>
                        <input type="text" v-model="account.email"/>
                    </div>
                    <div class="grouping">
                        <label>Business Phone</label>
                        <input type="text" v-model="account.phone"/>
                    </div>

                    <alert v-bind:state="state"></alert>
                </div>
                

                <div class="card-footer">
                    <div class="content-right">
                        <button class="btn btn-blue" @click="saveAccountDetails()">Save</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>

<script>
import AlertMessage from "../../../components/AlertMessage";
import Modal from "../../../components/Modal";
import { Common } from "../../../common";
import { mapActions } from "vuex";
export default {
  name: "AdminDetails",
  components: {
    alert: AlertMessage,
    modal: Modal
  },
  data() {
    return {
      account: null,
      plans: [],
      modalOpen: false,
      state: Common.updateAlertState(
        "success",
        "Success",
        "This is a successful message",
        false
      )
    };
  },
  created() {
    this.getAdminAccount().then(
      response => {
        this.account = response.data[0];

        console.log(response)
      },
      error => {
        // handle error
      }
    );

    this.getSubscriptionPlans()
    .then(response => {
        this.plans = response.data.data;
    });
  },
  methods: {
    ...mapActions(["getAdminAccount", "updateAdminAccount", "getSubscriptionPlans"]),

    saveAccountDetails() {
      this.state = Common.updateAlertState(
        "info",
        "Updating",
        "Updating the business account",
        true
      );
      this.updateAdminAccount(this.account).then(response => {
        this.state = Common.updateAlertState(
          "success",
          "Updated",
          "Updated the business account",
          true
        );

        setTimeout(() => {
          this.state.show = false;
        }, 5000);
      });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
