<template>
    <div class="adminWrapper">
		<div class="content content-border content-50 admin">
			<div class="sub_nav">
				<div class="justify-content-start">	
					<h2>Admin</h2>
					
					<div class="btn-group">
						<router-link to="/app/admin" class="btn" :class="isActiveComponent('AdminDetails')">Account Details</router-link>
						<router-link to="/app/admin/payments" class="btn" :class="isActiveComponent('AdminPayments')">Payment Details</router-link>
					</div>
				</div>
				<!-- <router-link to="/app/admin/plan" class="btn btn-lg btn--blue  sm">Invoices</router-link> -->
			</div>
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
export default {
  name: "AdminWrapper",
  data() {
    return {};
	},
  methods: {
		isActiveComponent(compoent) {
			return (this.$route.name === compoent) ? "active" : "";
		},
	}
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
