<template>
    <div class="adminpayments">
        <div class="flex-row">
            <div class="card card-grow">
                <div class="card-header">
                    <div class="card-title">Invoices</div> 
                </div>
                <div class="card-content">
                    No invoices.
                </div>
            </div>

            <div class="card card-grow">
                <div class="card-header">
                    <div class="card-title">Card detail</div> 
                </div>

                <div class="card-content">
                    No card saved.
                </div>
            </div>
        </div>
	</div>
</template>

<script>
export default {
  name: "AdminPayments",
  data() {
    return {};
  },
  methods: {}
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
