<template>
    <div class="suppliers">
        <h1>Suppliers View</h1>
    </div>
</template>

<script>
import { Common } from "@/common";
import AlertMessage from "@/components/AlertMessage";
import DataSelect from "@/components/DataSelect";
import DatePicker from "vuejs-datepicker";

export default {
  name: "SuppliersViewAll",
  data() {
      return {}
  },
  methods: {

  },
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
