<template>
   <div class="homepage">
        <div class="sticky-nav">
            <div class="float-left alpha">
                <span>Safe Reports</span>
            </div>
            <div class="float-right">
                <router-link to="/login">Login</router-link>
                <a href="#features">Features</a>
                <a href="#pricing">Pricing</a>
                <router-link to="#contact">Contact</router-link>
            </div>
        </div>
        <div class="fold">
            <div class="content">
              <img src="../assets/img/logo.png" width="128px" height="128px"/>
              <h1>Safe Reports</h1>
              <p>A New Zealand web based application that focuses on Health and Safety. Safe Reports can help you with Health and Safety reporting, tracking and maintaining your Hazard Register(s).</p>
              <p>Whilst focusing on Health and Safety, Safe Reports can help you record your People and Assets.</p>
            
              
              <div class="homepage-links">
                  <router-link to="/login" class="btn btn-blue btn-lg login-btn">Login</router-link>
                  <!-- <router-link to="/register" class="btn btn-purple btn-lg">Try for free</router-link> -->
              </div>
            </div>
        </div>

        <div class="features" id="features">
            <h2>Features</h2>

            <div class="feature-group wrapper">
                <div class="feature safety">
                    <div class="title">Incident reports</div>
                    <div class="feature--content">
                        <p>Quickly add incident reports, by location and department</p>
                        <p>Conduct investigations from the incident.</p>
                        <p>Link hazards on incidents, allowing you to monitor hazards that may need attention</p>
                    </div>
                </div>

                <div class="feature registers">
                    <div class="title">Hazard registers</div>
                    <div class="feature--content">
                        <p>Record and maintain your hazard registers across your location(s)</p>
                        <p>At a glance see how many incidents a specific hazard has caused.</p>
                    </div>
                </div>

                <div class="feature people">
                    <div class="title">People</div>
                    <div class="feature--content">
                        <p>Manage your People</p>
                        <p>Track people against Safety reports</p>
                    </div>
                </div>

                <div class="feature users">
                    <div class="title">Users</div>
                    <div class="feature--content">
                        <p>Assign specific roles and permissions for each user.</p>
                        <p>When a user creates or updates a Incident or Hazard it will record their action.</p>
                    </div>
                </div>

                <div class="feature assets">
                    <div class="title">Assets</div>
                    <div class="feature--content">
                        <p>Record all your assets across the business.</p>
                        <!-- <p>Add any services or maintence on the Assets' log</p> -->
                    </div>
                </div>

                <div class="feature roadmap">
                  <div class="title">Roadmap</div>
                  <div class="feature--content">
                    <ul>
                      <li>Assets</li>
                      <li>Document Control</li>
                      <li>Analytics / Report builder</li>
                    </ul>

                    <!-- <p><strong>Mid 2018: </strong> Assets</p> -->
                  </div>
                </div>
            </div>
            <div class="feature-group wrapper">
                <!-- <div class="feature documents">
                    <div class="title">Documents</div>
                    <div class="feature--content">
                        <p>Quickly add incident reports</p>
                    </div>
                </div> -->

                <!-- <div class="feature tasks">
                    <div class="title">Tasks</div>
                    <div class="feature--content">
                        <p>Quickly add incident reports</p>
                    </div>
                </div> -->

            </div>


            <!-- <div class="homepage-links">
                <router-link to="/" class="btn btn-lg btn-purple">More info</router-link>
            </div> -->
        </div>

        <div class="pricing" id="pricing">
          <div class="pricing-content">
            <h2>Pricing</h2>
            <div class="pricing-group">
                <div class="pricing-item">
                    <h4 class="title">Small</h4>
                    <div class="pricing-item-content">
                        <p class="price">$40 <small>/ month</small></p>
                        <div class="feature">10 users</div>
                        <div class="feature">All modules</div>
                    </div>

                    <div class="signup" data-balloon-length="medium" data-balloon="Not yet available. Please email us." data-balloon-pos="up">
                      Subscribe
                    </div>
                </div>
                <div class="pricing-item">
                    <h4 class="title">Medium</h4>
                    <div class="pricing-item-content">
                        <p class="price">$80 <small>/ month</small></p>
                        <div class="feature">20 users</div>
                        <div class="feature">All modules</div>
                    </div>
                    <div class="signup" data-balloon-length="medium" data-balloon="Not yet available. Please email us." data-balloon-pos="up">
                      Subscribe
                    </div>
                </div>
                <div class="pricing-item">
                    <h4 class="title">High</h4>
                    <div class="pricing-item-content">
                        <p class="price">$120 <small>/ month</small></p>
                        <div class="feature">30 users</div>
                        <div class="feature">All modules</div>
                    </div>
                    <div class="signup" data-balloon-length="medium" data-balloon="Not yet available. Please email us." data-balloon-pos="up">
                      Subscribe
                    </div>
                </div>
            </div>
            <p>Final pricing might change. Additional users cost $4</p>
          </div>
        </div>

        <div class="contact" id="contact">
            <div class="content">
                <h2>
                    Email: <a href="mailto:hello@maguscreative.com?Subject=Safe%20reports" target="_top">hello@maguscreative.com</a> 
                </h2>
                <h2>
                    <div style="width:100px; display:inline-block;">Website</div> <a href="http://maguscreative.com" target="_blank">Magus Creative</a>
                </h2> 
            </div> 
        </div>


    </div>
</template>

<script>

// @ is an alias to /src
export default {
  name: "home",
  data() {
    return {
      passedCallToAction: false,
    };
  },
  methods: {
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
// @import "../assets/css/utils.scss";
@import "../assets/css/utils";

.alpha {
  font-size: 1.5rem;
  padding: 10px;
}

.sticky-nav {
  position: fixed;

  background: linear-gradient(130deg, $blue, $purple);
  color: white;
  width: 100%;
  height: 60px;
  top: 0px;
  right: 0px;
  box-shadow: 0px 4px 2px 0px #f0f2f5;
  z-index: 999;

  a {
    line-height: 60px;
    color: white;
    margin-right: 12px;
    font-size: 1.4rem;
    text-decoration: none;
  }
}
.homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.3rem;
}
.fold {
  margin-top: 60px;
  background: white;
  width: 100%;
  padding: 12px 0;

  .content {
    margin: 0 auto;
    width: 40%;
  }
}

.homepage-links {
  text-align: center;

  .login-btn {
    display: inline-block;
    width: 10vw;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 5px;
  }
}

.features {
  width: 80%;
  margin: 0 auto;
}

.feature-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .feature {
    position: relative;
    box-sizing: border-box;
    font-weight: 500;
    width: 24vw;
    min-height: 260px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 32px;
    color: white;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    padding: 20px 24px;
    bottom: 0;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    // box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.32);
    &:hover {
      position: relative;
      // bottom: 10px;
      box-shadow: 0px 6px 30px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    .title {
      font-size: 1.6rem;
    }

    ul {
      font-size: 1.3rem;
    }
  }

  .feature.safety {
    background: $bg-safety;
  }
  .feature.registers {
    background: $bg-registers;
  }
  .feature.people {
    background: $bg-people;
  }
  .feature.assets {
    background: $bg-assets;
  }
  .feature.documents {
    background: $bg-documents;
  }
  .feature.tasks {
    background: $bg-tasks;
  }
  .feature.users {
    background: $bg-users;
  }
  .feature.data {
    background: $bg-data;
  }

  .feature.roadmap {
    background: #607d8b;
  }

  p {
    margin: 0;
    margin-top: 0.8rem;
  }
}

.pricing {
  width: 100%;
  min-height: 460px;
  background: #333c44;
  color: white;
  margin-top: 16px;

  &-content {
    width: 65%;
    margin: 0 auto;
  }
}

.pricing-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $black;
  display: flex;
  flex-direction: row;
  .pricing-item-content {
    cursor: pointer;
  }

  .pricing-item {
    width: 15vw;
    height: 200px;
    background: white;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 8px solid $blue;
    box-shadow: 0px 5px 5px #3c3c46;
    border-radius: 4px;
    padding: 2rem 1rem;

    .title {
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
      color: $blue;
    }

    .price {
      font-size: 1.8rem;
      font-weight: 700;
      padding: 0;
      margin: 0;
    }

    .feature {
      padding: 6px;
      font-size: 1.4rem;
      // font-weight: 300;
    }

    .signup {
      background: $purple;
      border-radius: 20px;
      padding: 0.8rem 0;
      width: 8vw;
      margin: 0 auto;
      margin-top: 12px;
      box-sizing: border-box;
      text-align: center;
      color: white;
      cursor: pointer;
    }
  }
}

.contact {
  width: 100%;
  background: $black;
  color: white;
  margin: 0;

  .content {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    h2 {
      text-align: center;
      display: inline-block;
      margin: 0;
      padding: 20px;
    }
  }
}

.magus {
  color: #ffebee;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;

  .highlight {
    background: #f44336;
    color: #ffebee;
    padding: 0.4rem;
    margin-left: 0.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .feature-group .feature {
    width: 30vw;
  }
  .pricing-group {
    flex-direction: column;
    .pricing-item {
      width: 80vw;

      .title {
        font-size: 1.4rem;
      }
    }
  }

  .homepage {
    .content {
      margin: 0 auto;
      width: 80%;
    }
  }
  .pricing {
    min-height: 900px;
  }
}
@media all and (max-width: 599px) {
  .alpha {
    display: none;
  }
  .homepage {
    .content {
      margin: 0 auto;
      width: 80%;
    }
  }
  .feature-group .feature {
    width: 80vw;
    min-height: 250px;
  }

  .pricing-group {
    flex-direction: column;
    .pricing-item {
      width: 80vw;
      padding: 0.8rem;
      margin-bottom: 12px;

      .title {
        font-size: 1.4rem;
      }

      .pricing-item-content .feature {
        font-size: 1.2rem;
      }

      .signup {
        width: 80vw;
      }
    }
  }

  .pricing {
    min-height: 900px;
  }

  .contact {
    .content {
      h2 {
        font-size: 1.2rem;
        padding: 12px;
      }
    }
  }
}
</style>

