<template>
    <div class="bg-fancy">

        <form @submit="onSubmit">
            <div v-if="loggedIn">
              <h2>Welcome back.</h2>
              <h3>You will be redirected to the dashboard in a few moments.</h3>
            </div>

            <div v-if="!loggedIn">

              <h2 class="title">Safe Reports - Login</h2>
              <div class="grouping">
                  <label  class="login-label">Email:</label>
                  <input type="text" id="username" name="username" v-model="user.username" autofocus>
              </div>

              <div class="grouping">
                  <label class="login-label">Password:</label>
                  <input type="password" id="password" name="password" v-model="user.password">
              </div>

              <div class="justify-content-align-right">
                <div class="control control-checkbox ">
                    <span class="label">
                        <input type="checkbox"> Remember me
                        <div class="control_indicator"></div>
                    </span>
                </div>
              </div>
              

              <alert v-bind:state="state"></alert>

              <div class="justify-content-space-around">

                <button class="button" type="submit">
                  Login
                  <i class="fa fa-angle-right"></i>
                </button>
              </div>
            </div>
        </form>
    </div>
</template>


<script>
import Vue from "vue";
import axios from "axios";
import { Common } from "../common";

import { mapActions } from "vuex";

import AlertMessage from "../components/AlertMessage";
Vue.component("alert", AlertMessage);
export default {
  name: "home",
  components: {
    // HelloWorld
  },
  data: () => {
    return {
      user: {
        username: "",
        password: ""
      },
      state: (this.state = Common.updateAlertState("", "", "", false)),
      loggedIn: false
    };
  },

  created() {
    this.checkLoginStatus().then(response => {
      this.loggedIn = true;

      setTimeout(() => {
        this.loggedIn = false;
        this.$router.push({ path: "/app/dashboard" });
      }, 3000);
    })
    .catch(err => {
      this.loggedIn = false;
    })
  },

  methods: {
    ...mapActions(["loginUser", "checkLoginStatus"]),
    onSubmit(e) {
      e.preventDefault();

      this.loginUser(this.user)
        .then(response => {
          this.$router.push({ path: "/app/dashboard" });
        })
        .catch(error => {
          this.state = Common.updateAlertState(
            "danger",
            "Failed to login",
            "Incorrect Username/Password",
            true
          );

          setTimeout(() => {
            this.state = Common.updateAlertState("", "", "", false);
          }, 5000);
        });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
// .title {
//   text-align: center;
//   margin-bottom: 8px;
// }
form {
  position: relative;
  width: 400px;
  min-height: 280px;
  padding: 12px;
  top: 50px;
  margin: 0 auto;

  background: #fff;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  .login-label {
    margin-bottom: 2pt;
    display: block;
    text-align: left;
    color: #666;
    font-size: 1em;
    padding-left: 12px;
  }
}

form:after {
  background: linear-gradient(
    to right,
    #4caf50 25%,
    #3f51b5 25%,
    #3f51b5 50%,
    #ffc107 50%,
    #ffc107 75%,
    #e91e63 75%
  );
  position: absolute;
  content: "";
  height: 10px;
  right: 0;
  left: 0;
  top: 0;
}


input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #eee;
    width: 100%;
    -webkit-transition: .7s;
    transition: .7s;
    color: #111;
    font-family: Lato,sans-serif;
    font-weight: 400;
    padding: 10pt 20pt;
    border-radius: 30px;
    background-color: #f7f7f7;
    margin-bottom: 1.4em;
    display: block;
}
.button:focus, .button:hover, button:focus, button:hover {
    outline: 0;
}
.button, button {
    background-color: #8e54e9;
    display: inline-block;
    padding: 8pt 20pt;
    line-height: 1.7;
    border: 1px solid #8e54e9;
    color: #fff;
    font-weight: 400;
    -webkit-transition: .7s;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 20px;
    margin-top:10px !important;
    transition: .7s;
    text-align: center;
    text-decoration: none;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

</style>