<template>
    <div class="register">
        
        <div class="bg-fancy">
            <form>
                <h2>Register account</h2>

                <div v-show="showState('business')">
                    <h3>1: Business Details</h3>

                    <div class="grouping">
                        <label for="businessName">Business name</label>
                        <input id="businessName" type="text" v-model="registerForm.businessName"/>
                    </div>

                    <div class="grouping">
                        <label for="contactPerson">Contact person</label>
                        <input id="contactPerson" type="text" v-model="registerForm.businessContact"/>
                    </div>

                    <div class="grouping">
                        <label for="contactEmail">Contact email address</label>
                        <input id="contactEmail" type="text" v-model="registerForm.businessEmail"/>
                    </div>

                    <div class="grouping">
                        <label for="contactPhone">Contact phone</label>
                        <input id="contactPhone" type="text" v-model="registerForm.businessPhone"/>
                    </div>

                    <div class="steps start">
                        <button class="btn btn-grey" @click="moveToState('plan')">Next <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>

                <div v-show="showState('plan')">
                    <h3>2: Plan select</h3>

                    <div class="plans">
                        <div class="plan" v-for="item in plans.data" :key="item.id" :class="isSelectedPlan(item.name)" @click="selectPlan(item.name, item.amount)">
                            <h4>{{ item.name }}</h4>
                            <p>${{ item.amount / 100 }}</p>
                        </div>
                    </div>

                    <div class="steps">

                        <button class="btn btn-grey" @click="moveToState('business')">
                            <i class="fa fa-angle-left"></i>
                            Back
                        </button>

                        <button class="btn btn-grey" @click="moveToState('user')">
                            Next
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>

                <div v-show="showState('user')">
                    <h3>3: User account</h3>

                    <div class="grouping">
                        <label for="userFirstName">First name</label>
                        <input id="userFirstName" type="text" v-model="registerForm.userFirstName"/>
                    </div>
                    
                    <div class="grouping">
                        <label for="userLastName">Last name</label>
                        <input type="text" id="userLastName" v-model="registerForm.userLastName">
                    </div>

                    <div class="grouping">
                        <label for="department">Department</label>
                        <input type="text" id="department" v-model="registerForm.department">
                    </div>

                    <hr>

                    <div class="grouping">
                        <label for="username">Username</label>
                        <input type="text" id="username" v-model="registerForm.username">
                    </div>

                    <div class="grouping">
                        <label for="password">Password</label>
                        <input type="password" id="password" v-model="registerForm.password">
                    </div> 

                    <div class="steps">
                        <button class="btn btn-grey" @click="moveToState('plan')">
                            <i class="fa fa-angle-left"></i>
                            Back
                        </button>

                        <button class="btn btn-grey" @click="moveToState('review')">
                            Next
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>

                <div v-show="showState('review')">
                    <h3>Final review</h3>
                    <div class="grouping">
                        <label>Business name</label>
                        <span>{{ registerForm.businessName }}</span>
                    </div>
                    <div class="grouping">
                        <label>Business contact person</label>
                        <span>{{ registerForm.businessContact }}</span>
                    </div>
                    <div class="grouping">
                        <label>Business contact email</label>
                        <span>{{ registerForm.businessEmail }}</span>
                    </div>
                    <div class="grouping">
                        <label>Business contact phone number</label>
                        <span>{{ registerForm.businessPhone }}</span>
                    </div>
                    <div class="grouping">
                        <label>Selected plan</label>
                        <span>{{ registerForm.selectedPlan }} at ${{ registerForm.selectedPlanAmount }}</span>
                    </div>
                    <div class="grouping">
                        <label>User: First name</label>
                        <span>{{ registerForm.userFirstName }}</span>
                    </div>
                    <div class="grouping">
                        <label>User: Last name</label>
                        <span>{{ registerForm.userLastName }}</span>
                    </div>
                    <div class="grouping">
                        <label>User: Department</label>
                        <span>{{ registerForm.department }}</span>
                    </div>
                    <div class="grouping">
                        <label>Username</label>
                        <span>{{ registerForm.username }}</span>
                    </div>

                    <div class="steps">
                        <button class="btn btn-grey" @click="moveToState('user')">
                            <i class="fa fa-angle-left"></i>
                            Back
                        </button>

                        <button class="btn btn-green" @click="finish()">
                            Finish
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </div>

                <!-- <div v-show="showState('credit')">
                    <h3>4. Enter your credit card</h3>
                    <input type="text">
                </div> -->
            </form>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: "RegisterAccount",
  data() {
      return {
          state: 'business',
          plans: [],
          registerForm: {
              businessName: '',
              businessContact: '',
              businessEmail: '',
              businessPhone: '',
              selectedPlan: '',
              selectedPlanAmount: '',
              userFirstName: '',
              userLastName: '',
              department: '',
              username: '',
              password: ''
          }
      }
  },
  created() {
      this.getSubscriptionPlans()
      .then(response => {
          this.plans = response.data;
      });
  },
  methods: {
      ...mapActions(["getSubscriptionPlans", "registerAccount"]),
      showState(state){
          return (this.state === state) ? true : false;
      },
      moveToState(state) {
          this.state = state;
      },
      selectPlan(name, amount) {
          this.registerForm.selectedPlan = name;
          this.registerForm.selectedPlanAmount = amount / 100;

      },
      isSelectedPlan(name) {
          return (this.registerForm.selectedPlan === name) ? 'active' : '';
      },
      finish() {
          this.registerAccount(this.registerForm)
          .then(response => {
              console.log(response);
          })
      }
  },
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
@import "../assets/css/utils";

form {
  position: relative;
  width: 600px;
  min-height: 320px;
  padding: 12px;
  top: 50px;
  margin: 0 auto;

  background: #fff;
  box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
  .login-label {
      font-size:1.2rem;
  }
}

form:after {
  background: linear-gradient(
    to right,
    #4caf50 25%,
    #3f51b5 25%,
    #3f51b5 50%,
    #ffc107 50%,
    #ffc107 75%,
    #e91e63 75%
  );
  position: absolute;
  content: "";
  height: 10px;
  right: 0;
  left: 0;
  top: 0;
}

.steps {
    display: flex;
    justify-content: space-between; 

    &.start {
        justify-content: flex-end;
    }
}

.plan {
    display: inline-block;
    width: 100px;
    border: 2px solid $lightgrey;
    padding: 6px 12px;
    margin-right: 6px;
    margin-bottom: 12px;
    cursor: pointer;

    &.active {
        background: $blue;
        color: white;
        border: 2px solid $darkblue;
    }

    p {
        margin:0;
    }
}




</style>
