<template>
  <div class="draft">
  </div>
</template>

<script>
export default {
  name: "AddUpdateDrafts",
  props: {
    options: Object
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
</style>
