<template>
  <div class="view">
    <div v-if="drafts.length > 0">
      <div class="draft-container">
        <div class="draft" v-for="(item, key) in drafts" :key="key">
          <div class="justify-content-between align-items-center" @click="toggleDraftDetail(item)">
            <strong class="title">Draft {{ ++key }}</strong>
            <i class="far fa-fw" :class="{ 'fa-angle-down': !item.expand, 'fa-angle-up': item.expand }"></i>
          </div>

          <div v-if="item.expand">
            <div><strong>Department: </strong> {{ item.document.department.name }}</div>
            <div><strong>Location: </strong> {{ item.document.location.name }}</div>
            <div><strong>Employee: </strong> {{ item.document.employee.name }}</div>
            <div><strong>Supervisor: </strong> {{ item.document.supervisor.name }}</div>


            <div class="justify-content-between" style="margin-top:6px;">
              <router-link class="btn btn-link" :to="`/app/incidents/add?draft=${item.id}`">View</router-link>
              <button class="btn btn-red" @click="openDeletePrompt(item.id)">
              <!-- <button class="btn btn-red" @click="deleteDraftEvent(item.id)"> -->
                Delete <i class="fas fa-fw fa-trash"></i>
              </button>
            </div>
          </div>
          <!-- <router-link :to="`/app/incidents/add?draft=${key}`">View</router-link>   -->

        </div>

        <modal v-model="deleteModalOptions">            
          <div class="modal-dialog" slot="modal">
              <div class="modal-header red">
                <div class="align-items-center justify-content-between">
                  <div class="title">Delete prompt</div>
                  <button class="btn btn-none text-white" @click="clearDeleteModalOptions()"><i class="fas fa-fw fa-times"></i></button>
                </div>
              </div>

              <div class="modal-content">
                  <h2>Are you sure you want to delete this draft?</h2>
              </div>

              <div class="modal-footer">
                  <div class="float-right">
                      <button class="btn btn-danger" @click="clearDeleteModalOptions()">No</button>
                      <button class="btn btn-green" @click="deleteDraftEvent()">Yes</button>
                  </div>
              </div>
          </div>
      </modal>

        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Modal from "@/components/Modal";
export default {
  name: "ViewDrafts",
  props: ["location"],
  components: {
    modal: Modal
  },
  created() {
    this.getDrafts(this.location).then(response => {
      this.drafts = response.data;
    });
  },
  data() {
    return {
      drafts: [],
      deleteModalOptions: {
        open: false,
        id: null
      }
    };
  },
  methods: {
    ...mapActions('drafts', ["getDrafts", "deleteDraft"]),
    toggleDraftDetail(item){
      if(item.expand === undefined){
        this.$set(item, 'expand', '');
      }
      item.expand = (!item.expand) ? true : false;
    },
    openDeletePrompt(id) {
      this.deleteModalOptions = {
        open: true, 
        id: id
      };
    },
    clearDeleteModalOptions(){
      this.deleteModalOptions = {
        open: false, 
        id: null
      };
    },
    deleteDraftEvent() {
      let id = this.deleteModalOptions.id
      this.deleteDraft(id)
      .then(response => {

        this.drafts = this.drafts.filter(ele => ele.id != id);

        this.clearDeleteModalOptions();
      });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
.draft-container {
  width: 100%;
  // height: 50px;
  display: block;
}
.draft {
  margin-right: 12px;
  float: left;
  width: 250px;
  align-items: center;
  background: white;
  padding: 8px 14px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  .title {
    font-size: 1.2rem;
  }
}
</style>
