<template>
    <div>
        <transition name="fade">
            <div class="message" v-bind:class="state.type" v-show="state.show" >
                <strong>{{ state.tag }}:</strong> {{ state.message }}
            </div>
        </transition>
    </div>
</template>

<script>
export default {
  name: "Alert",
  props: {
    state: Object,
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
