<template>
    <div>
        <div class="message info" v-show="settings.loading">Loading records.</div>
        <div class="message warning" v-show="data.length === 0 && !settings.loading">No records could be found.</div>
        <table class="table table--hover" v-show="data.length > 0">
            <thead class="table-inverse">
                <tr>
                  <th v-for="item in settings.columns" @click="sortBy(item.key, item.sortable)" :key="item.key" :class="styleSortArrows(item)">
                    <!-- <th v-for="item in settings.columns" @click="sortBy(item.key, item.sortable)" :key="item.key" :class="{'sort': item.sortable && isSorted.key === item.key} && item.size"> -->
						          {{item.human}}
                      <i class="fa fa-sort float-right icon" v-show="item.sortable && isSorted.key !== item.key"></i>
                      <i class="fa fa-caret-down filter" v-show="item.sortable && isSorted.key === item.key" v-bind:class="styleSortArrows(item)"></i>
                    </th>
                    <th v-show="settings.viewLink.state">Options</th>                    
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in currentData" :key="item.id" @click="rowClick(item, $event)">
                    <td v-for="(column, columnKey) in settings.columns" :key="columnKey">
                        <span v-if="column.isDate">{{ item[column.key] | date }}</span>
                        <span v-else>{{item[column.key]}}</span>
                    </td>
                    <td v-show="settings.viewLink.state">
                      <router-link style="z-index:999;" :to='`${settings.viewLink.url}/${item[settings.viewLink.key]}`'>View</router-link>
                        <!-- <a v-bind:href="`/#/${settings.viewLink.url}/${item[settings.viewLink.key]}`">View</a> -->
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="datatable-footer" v-show="settings.pagination !== null && !settings.loading">
          <div class="pagination">
            <div class="pagination-item pagination-prev" @click="decreasePage()" :class="{'disabled': totalPages === 1}">
              <i class="fa fa-fw fa-arrow-left float-left"></i>
              Previous
            </div>

            <div class="pagination-item" v-for="item in totalPages" :key="item" :class="isActive(item)" @click="changePage(item)">{{ item }}</div>
            <!-- <div class="pagination-item">1</div> -->
            <div class="pagination-item pagination-next" @click="increasePage()" :class="{'disabled': totalPages === currentPage}">
              Next
              <i class="fa fa-fw fa-arrow-right float-right"></i>
            </div>
          </div>

          <div class="float-right">
            Number of items 
            <select v-model="itemsPerPage">
              <option :value="item" v-for="item in optionsItemsPerPage" :key="item">{{ item }}</option>
            </select>
            displayed
          </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "DataTable",
  props: ["data", "settings"],
  data() {
    return {
      isSorted: {
        key: "",
        order: "asc"
      },
      itemsPerPage: 10,
      optionsItemsPerPage: [5, 10,20,50,70],
      currentPage: 1,
      totalItems: 0,
      totalPages: 0,
      currentData: []
    };
  },

  watch: {
    data: function(newData) {
      this.totalPagesChanged();
    },
    itemsPerPage: function(newItemsPerPage) {
      this.totalPagesChanged();
    }
  },
  methods: {
    styleSortArrows(item) {
      return {
        sorted: this.isSorted.key === item.key,
        up: this.isSorted.key === item.key && this.isSorted.order === "dsc"
      };
    },

    sortRecords() {
      let sort = this.isSorted;
      this.data.sort(function(a, b) {
        var nameA = a[sort.key] !== null ? a[sort.key].toUpperCase() : "";
        var nameB = b[sort.key] !== null ? b[sort.key].toUpperCase() : "";

        if (sort.order === "asc") {
          if (nameA < nameB) return -1;
          if (nameA > nameB) return 1;
          return 0;
        } else {
          if (nameB < nameA) return -1;
          if (nameB > nameA) return 1;
          return 0;
        }
      });
    },

    sortBy(key, sortable) {
      if (sortable) {
        if (this.isSorted.key === key) {
          this.isSorted.order = this.isSorted.order === "asc" ? "dsc" : "asc";
        } else {
          this.isSorted.key = key;
          this.isSorted.order = "asc";
        }
        this.sortRecords();
      }
    },

    rowClick(item, event) {
      if (this.settings.rowClick === undefined) {
        const path = `${this.settings.viewLink.url}/${
          item[this.settings.viewLink.key]
        }`;

        console.log(path);
        this.$router.push(path);

        return;
      }

      this.settings.rowClick(item, event);
    },

    // Pagination
    isActive(item) {
      return item === this.currentPage ? "active" : "";
    },

    updateCurrentData() {
      let page = this.currentPage - 1;
      page = page * this.itemsPerPage;

      this.currentData = [];
      for (
        var i = page;
        i < page + parseInt(this.itemsPerPage);
        i++
      ) {
        if (this.data[i]) {
          this.currentData.push(this.data[i]);
        }
      }
    },

    totalPagesChanged(){
      this.totalPages = Math.ceil(this.data.length / this.itemsPerPage);
      this.currentPage = 1;
      this.updateCurrentData();
    },

    changePage(page) {
      this.currentPage = page;
      this.updateCurrentData();
    },

    decreasePage() {
      if (this.currentPage === 1) return;
      this.currentPage--;
      this.updateCurrentData();
    },
    increasePage() {
      if (this.currentPage >= this.totalPages) return;
      this.currentPage++;
      this.updateCurrentData();
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
$blue: #4776e6;

.icon {
  float: right;
  font-size: 1.2rem;
  margin-right: 12px;
  color: #393939;
}

th.sorted {
  background: $blue;
  color: #fff;
  border-bottom: 2px solid $blue;
}

.xsmall {
  width: 100px;
}

.small {
  width: 200px;
}

.filter {
  @extend .icon;
  animation: down 0.4s ease-in-out;
  transition: opacity 0.2s ease;
  color: #fff;
}

.filter.sorted.up {
  animation: up 0.4s ease-in-out;
  transform: rotate(180deg);
}

@keyframes up {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes down {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination {
  // width: auto;
  float: left;
  margin-top: 6px;

  
  .pagination-item {
    width: 20px;
    text-align: center;
    margin-right: 4px;
    float: left;
    padding: 6px;
    border-bottom: 2px solid #cbd1d8;
    // animation: pagination-out 0.2s ease-in-out;
    cursor: pointer;
    transition: background 0.2s ease-out;

    &:hover:not(.pagination-next, .pagination-prev, .active) {
      background: #cbcbcb;
      transition: background 0.2s ease-in;
    }

    &.active {
      animation: pagination-in 0.2s ease-in;
      background: $blue;
      color: #fff;
      border-radius: 8px;
      border-bottom: 2px solid #153d9d;
    }
  }
  .pagination-prev {
    width: 85px;
    float:left; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    border-right: 1px solid #cbd1d8;
    border-bottom: 2px solid #cbd1d8;
    color: #555;


    &.disabled {
      cursor: not-allowed;
      background:#eee;
    }

    &:hover:not(.disabled) {
      color:#000;
    }

    i{
      margin-top: 2px;
      color: #000;
    }
  }

  .pagination-next {
    width: 85px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
    border-left: 1px solid #cbd1d8;
    border-bottom: 2px solid #cbd1d8;
    color: #555;

    &.disabled {
      cursor: not-allowed;
      background:#eee;
    }

    &:hover:not(.disabled) {
      color:#000;
    }

    i{
      margin-top: 2px;
      color: #000;
    }
  }

}

@keyframes pagination-in {
  0% {
    background: rgba(71, 118, 230, 0);
    border-color: rgba(9, 26, 67, 0);
  }
  100% {
    background: rgba(71, 118, 230, 1);
    border-color: rgba(9, 26, 67, 1);
  }
}
</style>