<template>
    <div>
        <!-- <div id="type" class="btn-group" v-show="collection.length <= 3">
            <button class="btn"  v-for="item in collection" :key="item.id" @click="selectItemFor('type', item, $event)">{{ item.name }}</button>
        </div> -->
        <div class="d-select">
            <div class="grouping">
                <input type="text" @focus="open()" @mousedown="open()" @blur="show = false" 
                  @input="filter()" @change="filter()"
                v-model="selected" :placeholder="placeholder">
                <transition name="slide-fade">
                    <ul v-show="show" class="select-list">
                        <li v-for="item in list" @mousedown="selectValue(item)" v-bind:key="item.id">{{ item.name }}</li>
                    </ul>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "DataSelect",
  props: ["collection", "value", "placeholder"],
  data() {
    return {
      show: false,
      selected: "",
      list: null,
      limit: 5
    };
  },
  created() {
    this.list = this.collection;

    if (this.value.name) this.selected = this.value.name;
    if (this.list !== undefined) this.filter();
  },
  watch: {
    'value.name': function(value) {
      this.selected = value;
    },
  },
  methods: {
    open() {
      this.show = true;
      this.filter();
    },

    // if the v-model value changes outside of the component it will set it
    // otherwise it assumes it has been selected via mousedown
    selectValue(item) {
      this.selected = item.name;
      this.show = false;
      this.$emit("input", JSON.parse(JSON.stringify(item)));
    },
    filter() {
      // console.log('abc');
      if (!this.selected || this.selected.length === 0) {
        this.list = this.collection.filter((ele, index) => {
          if (index <= this.limit) return ele;
        });

        this.$emit("input", JSON.parse(JSON.stringify('')));
        return;
      }

      if (this.collection) {
        this.list = this.collection.filter((ele, index) => {
          if (index <= this.limit) {
            if (
              ele.name.toLowerCase().indexOf(this.selected.toLowerCase()) > -1
            )
              return ele;
          }
        });
      }
    }
  },
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

.slide-fade-enter-active {
    animation: fadeIn 0.2s linear; 
}
.slide-fade-leave-active {
    animation: fadeOut 0.2s linear; 
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.select-list {
    position: absolute;
    background:white;
    padding:0;
    margin-top: -6px;
    width:12rem;
    min-height: auto;
    max-height: 200px;
    overflow:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.select-list li {
    border:1px solid #dedede;
    list-style: none;
    padding: 6px;
    transition: background 0.2s;
}

.select-list li:hover { background: #dedede; }
</style>
