<template>
    <div class="modal" v-show="value.open">
        <div class="modal-overlay" @click="close($event, true)"></div>
        <slot name="modal"></slot>
    </div>
</template>

<script>
export default {
  name: "Modal",
  props: ["value"],
  data() {
    return {};
  },
  created() {
    window.addEventListener("keyup", this.close);
  },
  methods: {
    close(e, clicked) {
      if (this.value.static) return;
      if (event.keyCode === 27 || clicked) this.value.open = false;
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
@import "../assets/css/utils";

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 90;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 95;
}

.modal-dialog {
  background: #fff;
  width: 500px;
  min-height: 200px;
  height: auto;
  position: relative;
  margin: 20px auto;
  z-index: 150;
  display: flex;
  flex-direction: column;

  .modal-header {
    padding: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    .title {
      padding: 8px;
      font-size: 1.5rem;
      line-height: 2rem;
      display: inline;
    }

    &.blue {
      background: $blue;
      color: $white;
    }

    &.red {
      background: $red;
      color: $white;
    }

    &.green {
      background: $green;
      color: $white;
    }
  }

  .modal-content {
    padding: 12px;
    min-height: 80px;
    // background: #f6f9fc;
  }

  .modal-footer {
    display: inline-block;
    align-self: flex-end;
    bottom: 0;
    width: 100%;
    background: $lightgrey;
    padding: 6px;
    box-sizing: border-box;
  }
}
</style>
