<template>
    <div class="navigation">
            
            <div style="display:flex; justify-content:space-between; justify-items: center;">

                <div class="nav-title">Safe Reports</div>

                <div class="nav-collapse">
                    <button class="btn btn-none" @click="nav.expanded = !nav.expanded">
                        <i class="text-white fas" :class="{ 'fa-angle-down': !nav.expanded, 'fa-angle-up': nav.expanded}"></i>
                    </button>
                </div>
            </div>
        <div v-show="nav.expanded">
            <router-link class="nav-item dashboard" to="/app/dashboard">
                <i class="fas fa-fw fa-home"></i>
                Dashboard
            </router-link>

            <!-- <router-link class="nav-item safety"  to="/app/incidents" v-show="hasModule('safety')">
                <i class="fas fa-fw fa-exclamation-square"></i>                
                Incidents
            </router-link> -->

            <div class="nav-item safety"  v-show="hasModule('safety')" @click="expandMenu('safety')">
                <div class="justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-fw fa-exclamation-square"></i>
                        Safety
                    </div>

                    <i class="fas fa-fw" :class="styleIcons('safety')"></i>
                </div>
            </div>

            <div class="nav-menu-items" v-if="expandedMenu === 'safety'">
                <router-link to="/app/incidents" v-show="hasModule('safety')">Incidents</router-link>
                <router-link to="/app/registers" v-show="hasModule('safety')">Hazards</router-link>
            </div>

            <!-- <router-link class="nav-item registers" to="/app/registers" v-show="hasModule('safety')">
            <i class="fas fa-fw fa-exclamation-triangle"></i>
                Hazards
            </router-link> -->

            <!-- <router-link class="nav-item people" to="/app/people" v-show="hasModule('people')">
                <i class="fas fa-fw fa-users"></i>
                Staff
            </router-link> -->

            <div class="nav-item people"  v-show="hasModule('people')" @click="expandMenu('people')">
                <div class="justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-fw fa-users"></i>
                        Staff
                    </div>

                    <i class="fas fa-fw" :class="styleIcons('people')"></i>
                </div>
            </div>

            <div class="nav-menu-items" v-if="expandedMenu === 'people'">
                <router-link to="/app/people" v-show="hasModule('people')">People</router-link>
                <router-link to="/app/staff/absences" v-show="hasModule('people')">Absences</router-link>
                <router-link to="/app/staff/qualifications" v-show="hasModule('people')">Qualifications</router-link>
            </div>




            <router-link class="nav-item events" to="/app/events" v-show="hasModule('events')">
                Events                
            </router-link>

            <router-link class="nav-item assets" to="/app/assets" v-show="hasModule('assets')">
                <i class="fas fa-fw fa-clipboard-list"></i>
                Assets
            </router-link>

            <router-link class="nav-item documents" to="/app/documents" v-show="hasModule('documents')">
                Documents
            </router-link>

            <router-link class="nav-item suppliers" to="/app/suppliers">
                Suppliers
            </router-link>


            <router-link class="nav-item tasks" to="/app/tasks" v-show="hasModule('tasks')">
                Tasks
            </router-link>
            <!-- <div class="nav-item usergroups">
                <router-link to="/app/user/groups">
                    <span class="title">Users groups</span>
                </router-link>
            </div> -->


            
            <div class="nav-item"  @click="expandMenu('analytics')">
                <div class="justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-fw fa-chart-bar"></i>
                        Analytics
                    </div>

                    <i class="fas fa-fw" :class="styleIcons('analytics')"></i>
                </div>
            </div>

            <div class="nav-menu-items" v-if="expandedMenu === 'analytics'">
                <router-link to="/app/analytics/safety" v-show="hasModule('safety')">Safety</router-link>
                <router-link to="/app/people" v-show="hasModule('people')">Staff</router-link>
                
            </div>



            <div class="nav-item admin"  v-show="hasModule('admin')" @click="expandMenu('admin')">
                <div class="justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-fw fa-cogs"></i>
                        Admin
                    </div>

                    <i class="fas fa-fw" :class="styleIcons('admin')"></i>
                </div>
            </div>

            <div class="nav-menu-items" v-if="expandedMenu === 'admin'">
                <router-link to="/app/admin" v-show="hasModule('admin')">Account detail</router-link>
                <router-link to="/app/datacollections" v-show="hasModule('data')">Data</router-link>
                <router-link to="/app/users" v-show="hasModule('users')">Users</router-link>
            </div>

            
            <a href="" class="nav-item logout" @click="triggerLogout($event)">

                <div class="justify-content-between align-items-center">
                    Logout

                    <i class="fas fa-fw fa-sign-out"></i>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Navigation",
  data() {
    return {
      modules: [],
      nav: {
          expanded: true,
      },
      expandedMenu: false,
    };
  },
  mounted(){
      this.checkLoginStatus()
      .then(loaded =>{
          this.modules = this.getAuthState.user.modules;
      })

      window.addEventListener('resize', (event) => {
          if(window.innerWidth <= 480) this.nav.expanded = false;
          else this.nav.expanded = true; 
      })
  },
  computed: {
    ...mapGetters(["getAuthState"])
  },
  methods: {
    ...mapActions(["logout", "checkLoginStatus"]),
    hasModule(key) {
      let hasModule = false;
      if(this.modules.length > 0){
        this.modules.filter(ele => {
          if(!hasModule && ele.module_key === key) hasModule = true;
        });
      }

      return hasModule;
    },
    expandMenu(menu) {
        if(this.expandedMenu === menu) {
            this.expandedMenu = false;
        }
        else {
            this.expandedMenu = menu;
        }
    },
    styleIcons(menu) {
        if(this.expandedMenu === menu) return 'fa-angle-down';
        else return 'fa-angle-right'
    },

    triggerLogout(e) {
      e.preventDefault();
      this.logout();
      window.location.href = "/";
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
</style>
