<template>
    <div class="richtext">
        <vue-editor v-model="inputVal" :editorToolbar="customToolbar"></vue-editor>
    </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
export default {
  name: "RichTextEditor",
  components: {
    VueEditor
  },
  props: ["value"],
  watch: {
    inputVal(val) {
      this.$emit("input", val);
    },
    value(val) {
      this.inputVal = val;
    }
  },
  data() {
    return {
      inputVal: "",
      customToolbar: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline"], // toggled buttons
        ["blockquote", "code-block"],

        [{ list: "ordered" }, { list: "bullet" }],
        [{ indent: "-1" }, { indent: "+1" }], // outdent/indent

        [{ color: [] }], // dropdown with defaults from theme
        [{ align: [] }],

        ["clean"]
      ]
    };
  },
  methods: {
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
