<template>
	<div>

    <div class="justify-content-start">
      <div class="searchbox">
        <input type="text" :placeholder="`Search on ${settings.search.on}`" v-model="settings.search.value" :change="searchOnData()">
      
        <!-- <select v-model="settings.search.on" v-show="settings.search.options !== null" v-if="focused">
          <option v-for="(item, index) in settings.search.options" :key="index" :value="item.key">{{ item.human }}</option>
        </select> -->
      </div>

    
      <div class="filter-selection" v-show="settings.filters !== null">
        <div class="dropdown">
          <button class="btn">Options
            <i class="fa fa-fw fa-filter"></i>
            <!-- <i class="fa fa-fw fa-caret-down dropdown-hover-hide"></i>
            <i class="fa fa-fw fa-caret-up dropdown-hover-show"></i> -->
          </button>
          <div class="dropdown-content">
            <h4>Search</h4>
            <div class="grouping">
              <select v-model="settings.search.on">
                <option v-for="item in settings.search.options" :value="item.key" :key="item.key"> {{ item.human }}</option>
              </select>
            </div>

            <hr>
            <h4>Filters</h4>
            <div class="dropdown-item" v-for="(filter, index) in settings.filters" v-bind:key="index" @click="filter.shown = !filter.shown" v-bind:class="{ 'active': filter.shown }">
              {{filter.human}}
              <i class="fa fa-check fa-fw fa-right" v-show="filter.shown"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="filters">
      <div v-for="(filter, index) in settings.filters" v-bind:key="index" v-show="filter.shown">
        <div class="grouping grouping--inline">
          <label class="label--full-width">{{ filter.human}} 
            <i class="fa fa-close fa-right" @click="closeFilter(filter)"></i>
          </label>

          <dataselect v-bind:collection="datasets[filter.dataset]" v-model="filter.selected_value" :input="filterData(filter.selected_value)"></dataselect>
        </div>
      </div>
    </div>
	</div>
</template>


<script>
import { mapActions, mapGetters } from "vuex";
import Dataselect from "@/components/DataSelect.vue";
export default {
  name: "SearchBox",
  props: ["settings", "dataitems"],
  components: {
      Dataselect
  },
  data() {
    return {
      datasets: [],
      focused: false
    };
  },

  created() {
    if (this.settings.filters === null) return;
    let collections = [];
    for (const key of Object.keys(this.settings.filters)) {
      collections.push(this.settings.filters[key].dataset);
    }

    this.getDataCollections(collections).then(
      response => {
        this.datasets = response.data;
      },
      error => {
        console.error("Failed to get Data Collections in search");
      }
    );
  },
  computed: {
    ...mapGetters({
      searchDataFor: "searchDataFor"
    })
  },
  methods: {
    ...mapActions(["getDataCollections"]),
    filterData(item) {
      // let result = this.filterDataBy
    },

    // filter
    closeFilter(filter) {
      filter.shown = false;
      Vue.set(filter, "selected_value", "");
    },
    searchOnData() {
      let result = this.searchDataFor(
        this.settings.state,
        this.settings.search.value,
        this.settings.search.on,
        this.settings.filters
      );
      this.$emit("update", result);
    }
  },
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>


@media all and (min-width: 480px) and (max-width: 767px) {
  .searchbox {
    input {
      width: 50vw;
    }
  }
}
@media all and (max-width: 599px) {
  .searchbox {
    input {
      width: 50vw;
    }   
  }
}

</style>
