<template>
    <div class="container">
      <div class="navigation">
        <div style="display:flex; justify-content:space-between; justify-items: center;">
          <div class="nav-title">Safe Reports</div>
        </div>

        <div class="nav-item dev-admin">
          <router-link to="/app/dashboard">
            <span class="title">Back to app</span>
          </router-link>
        </div>

        <div class="nav-item dev-admin">
          <router-link to="/app/dashboard">
            <span class="title">Back to app</span>
          </router-link>
        </div>

      </div>
      <h1>Developer Admin Wrapper</h1>
      <router-view class="content-wrapper"></router-view>
    </div>
</template>

<script>
export default {
  name: "DeveloperAdminWrapper",
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
