<template>
    <div class="safety-analytics">
        <div class="content">
            <div class="sub_nav overflow">
                <div class="justify-content-between">
                  <h2>analytics</h2>
                </div>
            </div>

            <div class="collection">
              <div class="sub-heading">Incidents</div>
              <!-- <div class="sub-heading">Hazards</div> -->
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "SafetyAnalytics",
  data() {
      return {}
  },
  methods: {

  },
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
.sub-heading {
    background:#ffffff;
    padding:12px;
    font-size:1rem;
    font-weight:600;
    cursor: pointer;
    border:1px solid #cbd1d8;
    border-bottom:2px solid #cbd1d8;
    transition: all 0.2s ease-in;
}

.collection {
    width: 300px;
    background: #f9f9f9;
    float:left;
    margin-right:12px;
}

.collection .item {
    padding: 8px;
    cursor: pointer;
}

</style>
