<template>
    <div>
        <div class="content content-border content-50 people">
            <div class="sub_nav">
                <div class="justify-content-between">
                    <div>
					    <h2><router-link to="/app/people">People</router-link>: {{ person.full_name }}</h2>

                        <div class="float-left">
                            <button class="btn btn-lg" :class="isActiveUIState('details')" @click="updateUIState('details')">Details</button>
                            <button class="btn btn-lg" :class="isActiveUIState('training')" @click="updateUIState('training')">Training</button>
                            <button class="btn btn-lg" :class="isActiveUIState('stats')" @click="updateUIState('stats')">Statistics</button>
                            <button class="btn btn-lg" :class="isActiveUIState('user')" @click="updateUIState('user')">User</button>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class="btn">
                            Options <i class="fas fa-fw fa-angle-down"></i>
                        </div>

                        <div class="dropdown-content">
                            <router-link to="/app/users/add" class="dropdown-item justify-content-between align-items-center" v-show="!users.length > 0">
                                Add user <i class="far fa-fw fa-user"></i>
                            </router-link>
                            <div class="dropdown-item justify-content-between align-items-center" @click="archivePersonEvent()">
                                <span v-show="person.archived">Unarchive</span>
                                <span v-show="!person.archived">Archive</span>
                                <i class="far fa-fw fa-archive"></i>
                            </div>
                            <div class="dropdown-item justify-content-between align-items-center" @click="deletePersonClick()" v-show="person.archived">
                                Delete <i class="far fa-fw fa-trash"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-100" v-show="UIState === 'details'">
                <div class="card-header">
                    <div class="card-title">
                        General details
                    </div>

                    <div class="float-right">
                        <button class="btn btn-blue" v-show="editing" @click="triggerUpdate()">Save</button>
                        <button class="btn btn--plain" v-show="editing" @click="cancelEdit()">Cancel</button>
                        <button class="btn btn-purple" @click="toggleEdit()" v-show="!editing">Edit</button>
                    </div>
                </div>

                <div class="card-content">
                    <alert v-bind:state="state"></alert>

                    <div class="grouping" v-show="!editing">
                        <label for="name">Name</label>
                        <span v-show="!editing">{{ person.full_name }}</span>
                        <!-- <input type="text" id="name" name="name" v-model="person.full_name" v-show="editing"> -->
                    </div>

                    <div class="grouping" v-show="editing">
                        <label for="firstname">First name</label>
                        <input type="text" id="firstname" name="firstname" v-model="person.first_name" >
                    </div>

                    <div class="grouping" v-show="editing">
                        <label for="lastname">Last name</label>
                        <input type="text" id="lastname" name="lastname" v-model="person.last_name" >
                    </div>

                    <div class="grouping">
                        <label for="dob">Date of Birth</label>
                        <span v-show="!editing">{{ person.birthdate | date  }}</span>
                        <datepicker id="dob" name="dob" v-model="person.birthdate" format="dd/MM/yyyy" v-show="editing"></datepicker>
                    </div>

                    <div class="grouping">
                        <label for="gender">Gender</label>
                        <span v-show="!editing">{{ person.gender  }}</span>
                        <select v-show="editing"  v-model="person.gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="grouping">
                        <label for="department">Department</label>
                        <span v-show="!editing">{{ person.department.name }}</span>
                        <dataselect v-show="editing" type="text" id="department" v-bind:collection="datasets.department" v-model="person.department"></dataselect>
                    </div>
                    <div class="grouping">
                        <label for="position">Position</label>
                        <span v-show="!editing">{{ person.position.name }}</span>
                        <dataselect v-show="editing" type="text" id="position" v-bind:collection="datasets.position" v-model="person.position"></dataselect>
                    </div>
                    <div class="grouping">
                        <label for="shift">Shift</label>
                        <span v-show="!editing">{{ person.shift.name }}</span>
                        <dataselect v-show="editing" type="text" id="shift" v-bind:collection="datasets.shift" v-model="person.shift"></dataselect>
                    </div>
                    <div class="grouping">
                        <label for="location">Location</label>
                        <span v-show="!editing">{{ person.location.name }}</span>
                        <dataselect v-show="editing" type="text" id="location" v-bind:collection="datasets.location" v-model="person.location"></dataselect>
                    </div>
                    
                    <div class="grouping">
                        <label for="phone">Phone</label>
                        <span v-show="!editing">{{ person.phone }}</span>
                        <input type="text" v-show="editing" id="phone" name="phone" v-model="person.phone">
                    </div>

                    <div class="grouping">
                        <label for="email">Email address</label>
                        <span v-show="!editing">{{ person.email }}</span>
                        <input type="text" v-show="editing" id="email" name="email" v-model="person.email">
                    </div>


                    <div class="grouping">
                        <label for="general_notes">General Notes: </label>
                        <span v-show="!editing">{{ person.general_notes }} </span>
                        <textarea type="text"  id="general_notes" v-model="person.general_notes" v-show="editing"></textarea>
                    </div>
                    <div class="grouping">
                        <label for="special_notes">Special Notes</label>
                        <span v-show="!editing">{{ person.special_notes }} </span>
                        <textarea type="text" id="special_notes" v-model="person.special_notes" v-show="editing"></textarea>
                    </div>
                </div>
            </div>
            <div class="card card-100" v-show="UIState === 'training'">
                <div class="card-header">
                    <div class="card-title">Training</div>
                    <div class="float-right">
                        <button class="btn btn-green" @click="openTrainingModal()">Add</button>
                    </div>
                </div>

                <div class="card-content">
                    <div v-if="training.length === 0">
                        <div class="notification info">
                            <div class="notification-title">No training has been assigned to this person.</div>
                        </div>
                    </div>
                    <div else>
                        <div class="list-group-item" v-for="item in training" :key="item.id">
                            <div class="grouping small m-0">
                                <label>Training: </label>
                                {{ item.training_name }}
                            </div>

                            <div class="grouping small m-0">
                                <label>Acquired on: </label>
                                {{ item.acquired_on | date }}
                            </div>

                            <div class="grouping small m-0">
                                <label>Expires on: </label>
                                {{ item.expires_on | date }}
                            </div>

                            <div class="grouping small m-0">
                                <button class="btn btn-sm btn-blue" @click="editTrainingRecord(item)">Edit</button>
                            </div>
                        </div>
                    </div>

                    <modal v-model="trainingModalOptions">            
                        <div class="modal-dialog" slot="modal">
                            <div class="modal-header green">
                                <div class="title">
                                    <span v-if="trainingModalOptions.state === 'add'">Add training</span>
                                    <span v-else>Edit training</span>
                                </div>
                            </div>

                            <div class="modal-content">
                                <div class="grouping">
                                    <label for="">Training</label>
                                    <select v-model="trainingItem.training_id">
                                        <option :value="item.id" v-for="item in datasets.training" :key="item.id">{{ item.name }}</option>
                                    </select>
                                </div>
                                <div class="grouping">
                                    <label for="acquiredOn">Acquired on</label>
                                    <datepicker id="acquiredOn" name="acquiredOn" v-model="trainingItem.acquired_on" format="dd/MM/yyyy"></datepicker>
                                </div>
                                <div class="grouping">
                                    <label for="expiresOn">Expires on</label>
                                    <datepicker id="expiresOn" name="expiresOn" v-model="trainingItem.expires_on" format="dd/MM/yyyy"></datepicker>
                                </div>
                                <div class="grouping">
                                    <label for="notes">Notes</label>
                                    <textarea id="notes" name="notes" v-model="trainingItem.notes"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="float-left" v-if="trainingModalOptions.state === 'edit'">
                                    <button class="btn btn-red" @click="deleteTraining()">Delete</button>
                                </div>
                                <div class="float-right">
                                    <button class="btn btn-red" @click="cancelTrainingItem()">Cancel</button>
                                    <button class="btn btn-green" @click="addTrainingItem()" v-if="trainingModalOptions.state === 'add'">Add training</button>
                                    <button class="btn btn-green" @click="updateTrainingItem()" v-if="trainingModalOptions.state === 'edit'">Save training</button>
                                </div>
                            </div>
                        </div>
                    </modal>
                </div>
            </div>
            <div class="card card-100"  v-show="UIState === 'stats'">
                <div class="card-header">
                    <div class="card-title">Statistics</div>
                </div>

                <div class="card-content">

                    <div class="list-group-item">
                        Total Incident reports 
                        <span>{{ stats.total }}</span>
                    </div>

                    <div class="list-group-item">
                        As employee  
                        <span>{{ stats.employee }}</span>
                    </div>
                    <div class="list-group-item">
                        As supervisor
                        <span>{{ stats.supervisor }}</span>
                    </div>

                </div>
            </div>
            <div class="card card-100" v-show="UIState === 'user'">
                <div class="card-header">
                    <div class="card-title">User account</div>
                </div>

                <div class="card-content">
                    <div v-show="users.length === 0">No user account attached.</div> 
                    
                    <div v-show="users.length > 0">    
                        <div v-for="(item, index) in users" :key="index">
                            <router-link :to='`/app/users/view/${item.id}`'>{{ item.username }}</router-link>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import * as moment from "moment";
import { Common } from "@/common";
import AlertMessage from "@/components/AlertMessage";
import DataSelect from "@/components/DataSelect";
import Modal from "@/components/Modal";

import Datepicker from "vuejs-datepicker";

import { mapActions } from "vuex";
export default {
  name: "AppPeopleViewSingle",
  components: {
    alert: AlertMessage,
    dataselect: DataSelect,
    datepicker: Datepicker,
    Modal
  },
  data() {
    return {
      UIState: "details",
      person: {
        department: {
          name: ""
        },
        position: {
          name: ""
        },
        shift: {
          name: ""
        },
        location: {
          name: ""
        }
      },
      stats: [],
      users: [],
      training: [],
      editing: false,
      state: Common.updateAlertState(
        "info",
        "Updating",
        "The person profile",
        false
      ),
      datasets: {
        department: [],
        position: [],
        shift: [],
        location: [],
        training: []
      },
      trainingModalOptions: {
        open: false,
        data: [],
        static: false,
        state: "add",
      },

      trainingItem: {
          training_id: '',
          acquired_on: '',
          expires_on: '',
          notes: '',
      },


      blankTraining: null,
    };
  },
  created() {
    this.blankTraining = JSON.parse(JSON.stringify(this.training));
    const id = this.$route.params.id;
    this.getPerson(id)
      .then(response => {
        this.person = response.data.person;
        this.users = response.data.users;
        this.stats = response.data.stats;
        this.training = response.data.training;
      })
      .catch(err => {
        console.log(err);
        this.state = Common.updateAlertState(
          "danger",
          "Error",
          "Cannot find this person",
          true
        );
      });

    let dataCollections = [
      "department",
      "position",
      "location",
      "shift",
      "training"
    ];
    this.getDataCollections(dataCollections)
      .then(response => (this.datasets = response.data))
      .catch(error => {
        // handle error
      });
  },
  methods: {
    ...mapActions('staff', [
        "getPerson",
        "updatePerson",
        "archivePerson",
        "deletePerson",
        "addTrainingToPerson",
        "updateTraining",
        "deleteTrainingItem"
      ]),
    ...mapActions(["getDataCollections"]),
    toggleEdit() {
      this.editing = true;
      this.originalPerson = JSON.parse(JSON.stringify(this.person));
    },

    cancelEdit() {
      this.editing = false;
      this.person = JSON.parse(JSON.stringify(this.originalPerson));
    },

    triggerUpdate() {
      this.state = Common.updateAlertState(
        "info",
        "Updating",
        `${this.person.first_name}'s profile is being updated`,
        true
      );
      this.updatePerson(this.person).then(response => {
        this.state = Common.updateAlertState(
          "success",
          "Success",
          `${this.person.first_name}'s has been profile updated`,
          true
        );
        this.editing = false;

        setInterval(() => {
          this.state.show = false;
        }, 3000);
      });
    },

    archivePersonEvent() {
      let archiveObject = {
        id: this.$route.params.id,
        archived: this.person.archived
      };

      this.archivePerson(archiveObject)
        .then(response => {
          this.person.archived = response.data;
        })
        .catch(err => console.trace(err));
    },

    deletePersonClick() {
      this.deletePerson(this.$route.params.id)
        .then(response => {
          this.$router.push("/app/people");
        })
        .catch(err => {
          console.error(err);
        });
    },

    isActiveUIState(state) {
      return Common.isActiveUIState(this.UIState, state);
    },

    updateUIState(state) {
      this.UIState = state;
    },
    openTrainingModal() {
      this.trainingModalOptions.open = true;
      this.trainingModalOptions.state = "add";
    },

    addTrainingItem() {
        this.trainingItem.person_id = this.$route.params.id;
        this.addTrainingToPerson(this.trainingItem)
        .then(response => {
            this.trainingItem = JSON.parse(JSON.stringify(this.blankTraining));
            this.trainingModalOptions.open = false;
        });
    },
    updateTrainingItem(){
        this.updateTraining(this.trainingItem)
        .then(response => {
            this.trainingItem = JSON.parse(JSON.stringify(this.blankTraining));
            this.trainingModalOptions.open = false;
        });
    },
    cancelTrainingItem() {
        this.trainingItem = JSON.parse(JSON.stringify(this.blankTraining));
        this.trainingModalOptions.open = false;
        this.trainingModalOptions.state = "add";
    },
    editTrainingRecord(item) {
        this.trainingModalOptions.open = true;
        this.trainingModalOptions.state = "edit";

        this.trainingItem = JSON.parse(JSON.stringify(item));
    },
    deleteTraining(){
        this.deleteTrainingItem(this.trainingItem.id)
        .then(response => {
            this.training = this.training.filter(ele => ele.id != this.trainingItem.id);


            this.trainingItem = JSON.parse(JSON.stringify(this.blankTraining));
            this.trainingModalOptions.open = false;
            this.trainingModalOptions.state = "add";
        });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
