<template>
	<div>
		<div class="content content-border people">
			<div class="sub_nav">

				<div class="justify-content-start">
					<h2>People</h2>				
					<router-link to="/app/people/add" class="btn btn-lg btn-blue">New <i class="fa fa-fw fa-plus"></i></router-link>
				</div>

				<searchbox :settings="searchSettings" :dataitems="people" @update="updateSearch"></searchbox>
			</div>

			<data-table :settings="tableSettings" :data="people"></data-table>
		</div>
		
	</div>
</template>

<script>
import SearchBox from "@/components/SearchBox";
import DataTable from "@/components/DataTable";
import { mapActions } from "vuex";
export default {
  name: "AppPeopleViewAll",
  components: {
    "data-table": DataTable,
    searchbox: SearchBox
  },
  data() {
    return {
      advancedSearch: false,
      people: [],
      tableSettings: {
        viewLink: {
          state: true,
          key: "id",
          url: "/app/people/view"
        },
        columns: [
          { key: "full_name", human: "Name", sortable: true },
          { key: "department_name", human: "Department" },
          { key: "position_name", human: "Position" },
          { key: "shift_name", human: "Shift", sortable: true },
          { key: "location_name", human: "Location" }
        ],

        maxNumber: 10,
        loading: true
      },

      searchSettings: {
        state: "people",
        search: {
          value: "",
          on: "full_name",

          options: [
            { human: "Name", key: "full_name" },
            { human: "Shift", key: "shift_name" }
          ]
        },
        filters: {
          location: {
            selected_value: {},
            data_key: "location",
            dataset: "location",
            human: "Location",
            shown: false
          },
          department: {
            selected_value: {},
            data_key: "department",
            dataset: "department",
            human: "Department",
            shown: false
          },
        }
      }
    };
  },
  created() {
    this.getPeople().then(response => {
      this.people = response;
      this.tableSettings.loading = false;
    });
  },
  methods: {
    ...mapActions('staff', ['getPeople']),
    updateSearch(people) {
      this.people = people;
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
