
<template>
	<div>
		<div class="content content-border content-40 people">
        <h2>
          <router-link to="/app/people">People</router-link>: New person
        </h2>

  
        <div class="grouping">
          <label for="firstname">First Name</label>
          <input type="text" id="firstname" name="firstname" v-model="person.first_name" autofocus/>
        </div>

        <div class="grouping">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" name="lastname" v-model="person.last_name"/>
        </div>

        <div class="grouping" v-show="optionalFields.gender.state">
          <label for="dob">Date of Birth</label>
          <!-- <input type="date" id="dob" name="dob" v-model="person.birthdate"> -->
          <datepicker id="dob" name="dob" v-model="person.birthdate" format="dd/MM/yyyy"></datepicker>
        </div>

        <div class="grouping" v-show="optionalFields.gender.state">
          <label for="gender">Gender</label>

          <select name="gender" id="gender" v-model="person.gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="grouping">
          <label for="department">Department</label>
        
          <dataselect id="department" name="department" v-bind:collection="datasets.department" v-model="person.department"></dataselect>
        </div>

        <div class="grouping" v-show="optionalFields.id_code.state">
          <label for="idcode">ID Code</label>
          <input type="text" id="idcode" name="idcode" v-model="person.id_code"/>
        </div>

        <div class="grouping" v-show="optionalFields.position.state">
          <label for="position">Position</label>
          <dataselect v-bind:collection="datasets.position" v-model="person.position"></dataselect>
        </div>

        <div class="grouping" v-show="optionalFields.shift.state">
          <label for="shift">Shift</label>
          <dataselect v-bind:collection="datasets.shift" v-model="person.shift"></dataselect>
        </div>

        <div class="grouping" v-show="optionalFields.location.state">
          <label for="location">Location</label>
          <dataselect v-bind:collection="datasets.location" v-model="person.location"></dataselect>
        </div>

        <div class="grouping" v-show="optionalFields.phone.state">
          <label for="phone">Phone</label>
          <input type="text" id="phone" name="phone" v-model="person.phone">
        </div>

        <div class="grouping" v-show="optionalFields.email.state">
          <label for="email">Email address</label>
          <input type="text" id="email" name="email" v-model="person.email">
        </div>


        <div class="grouping" v-show="optionalFields.generalNotes.state">
          <label for="generalnotes">General Notes</label>
          <textarea name="generalnotes" id="generalnotes" v-model="person.general_notes"></textarea>
        </div>

        <div class="grouping" v-show="optionalFields.specialNotes.state">
          <label for="specialnotes">Special Notes</label>
          <textarea name="specialnotes" id="specialnotes" v-model="person.special_notes"></textarea>
        </div>

        <div class="dropdown">
          <button class="btn btn-link">Optional fields 
            <i class="fa fa-fw fa-caret-down dropdown-hover-hide"></i>
            <i class="fa fa-fw fa-caret-up dropdown-hover-show"></i>
          </button>
          <div class="dropdown-content">
            <div class="dropdown-item" v-for="item in optionalFields" :key="item.name" @click="item.state = !item.state">
              {{ item.human }}

              <i v-show="item.state" class="fa fa-fw fa-check float-right"></i>
            </div>
          </div>
        </div>

        <alert v-bind:state="state"></alert>


        <div class="grouping">
          <button class="btn btn-green float-right" @click="addForm()">Add</button>
        </div>
		</div>
	</div>  
</template>

<script>
import { Common } from "@/common";
import AlertMessage from "@/components/AlertMessage";
import DataSelect from "@/components/DataSelect";
import DatePicker from "vuejs-datepicker";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "AppPeopleAdd",
  components: {
    dataselect: DataSelect,
    alert: AlertMessage,
    datepicker: DatePicker
  },
  created() {
    let dataCollections = ["department", "position", "location", "shift"];

    this.getDataCollections(dataCollections).then(
      response => {
        this.datasets = response.data;
      },
      error => {
        // handle error
      }
    );

    this.optionalFields = this.getOptionalFields("people");

    console.log(this.optionalFields)
  },
  data() {
    return {
      person: {
        id_code: "",
        first_name: "",
        last_name: "",
        birthdate: null,
        gender: "",
        department: { name: "" },
        position: { name: "" },
        shift: { name: "" },
        location: { name: "" },
        phone: "",
        email: "",
        general_notes: "",
        special_notes: ""
      },

      requiredFields: [
        "person_id_code",
        "first_name",
        "last_name",
        // "birthdate",
        // "gender",
        "department",
        "position"
      ],

      optionalFields: {},

      state: Common.updateAlertState(
        "success",
        "Success",
        "This is a successful message",
        false
      ),

      datasets: {
        location: [],
        department: []
      },
      date: new Date(),

      config: {
        wrap: true,
        altFormat: "M j, Y",
        altInput: true,
        dateFormat: "Y-m-d"
      }
    };
  },
  computed: {
    ...mapGetters(["getOptionalFields"]),
  },
  methods: {
    ...mapActions(["getDataCollections"]),
    ...mapActions('staff', ["savePerson"]),
    /**
     * Validation will be moved into its own service
     */
    validation(object, requiredFields) {
      let validity = {
        valid: false,
        keys: []
      };

      for (var key in object) {
        if (object.hasOwnProperty(key)) {
          var element = object[key];
          if (
            (requiredFields.includes(key) && element.length === 0) ||
            element === null ||
            element === undefined
          ) {
            validity.valid = false;
            validity.keys.push(key);
          }
        }
      }

      return validity;
    },

    addForm() {
      // let valid = this.validation(this.person, this.requiredFields);
      // console.log(valid);
      // if(valid){
      this.state = Common.updateAlertState(
        "info",
        "Sending",
        "Adding new person",
        true
      );
      this.savePerson(this.person)
        .then(response => {
          this.state = Common.updateAlertState(
            "success",
            "Success",
            "Added new person",
            true
          );

          let id = response.data[0].id;

          setTimeout(() => {
            this.state = Common.updateAlertState("", "", "", false);
            this.$router.push(`/app/people/view/${id}`);
          }, 5000);
        })
        .catch((error, response) => {
          console.log(error);
        });

      this.state.show = true;

      setTimeout(() => {
        this.state.show = false;
      }, 5000);
      // }
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
