<template>
    <div>
        <div class="content content-border content-60 data">
            
                <div class="justify-content-between">
                    <h2>Data collections</h2>
                </div>				                
                <alert v-bind:state="state"></alert>


            <div class="collection">
                <div v-for="heading in dataCollections" v-bind:key="heading.key">
                    <div class="sub-heading" @click="openCloseHeading(heading)">
                        {{ heading.name }}
                        <div class="float-right">
                            <i class="fa fa-caret-up" v-show="heading.shown"></i>
                            <i class="fa fa-caret-down" v-show="!heading.shown"></i>
                        </div>
                    </div>

                    <div class="item" v-show="heading.shown" v-for="item in heading.data" v-bind:key="item.key" @click="getCollection(item.id)">{{ item.name }}</div>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-show="selectedCollection === null">
                        <td colspan="2">
                            <span>Select a data collection</span>
                        </td>
                    </tr>
                    <tr v-show="selectedCollection !== null">
                        <td><input type="text" class="form-control form-control-sm" v-model="newDataItem"></td>
                        <td class="option"><button class="btn btn-sm btn-success" @click="addDataItemToStore()" :disabled="newDataItem.length === 0">Add</button></td>
                    </tr>

                    <tr v-for="item in dataItems" v-bind:key="item.id" >
                        <td>
                            <span v-show="!item.editing">{{ item.name }}</span>
                            <input v-show="item.editing" type="text" v-model="item.name"/>
                        </td>
                        <td class="option" :class="{ 'option--open': item.editing }">
                            <button class="btn btn-purple" v-show="!item.editing" @click="toggleUpdate(item)">Edit</button>
                            <button class="btn btn-red" v-show="item.editing" @click="deleteItem(item)">Delete</button>
                            <button class="btn btn-blue" v-show="item.editing" @click="saveItem(item)">Save</button>
                            <button class="btn" v-show="item.editing" @click="item.editing = false">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import AlertMessage from "@/components/AlertMessage.vue";
import { Common } from "@/common";

import { mapActions } from "vuex";

export default {
  name: "DataCollections",
  components: {
    alert: AlertMessage
  },
  data() {
    return {
      dataCollections: [],
      dataItems: [],
      selectedCollection: null,
      newDataItem: "",
      state: Common.updateAlertState(
        "success",
        "Success",
        "This is a successful message",
        false
      )
    };
  },
  created() {
    this.getAllDataCollections().then(response => {
      this.dataCollections = JSON.parse(JSON.stringify(response.data));

      this.openCloseHeading(this.dataCollections[1]);

      if (this.$route.query.collection) {
        this.getCollection(this.$route.query.collection);
      }
    });
  },
  methods: {
    ...mapActions([
      "addDataItem",
      "getAllDataCollections",
      "getDataCollectionById",
      "updateDataItem",
      "deleteDataItem"
    ]),

    openCloseHeading(heading) {
      this.$set(heading, "shown", !heading.shown);
    },

    getCollection(id) {
      this.$router.push({ query: { collection: id } });
      this.getDataCollectionById(id).then(
        response => {
          this.dataItems = response.data;
          this.selectedCollection = id;
        },
        error => {
          // handle error
        }
      );
    },

    addDataItemToStore() {
      const item = {
        value: this.newDataItem,
        id: this.selectedCollection
      };

      this.addDataItem(item).then(response => {
        this.dataItems.push(response.data);
        this.newDataItem = "";
      });
    },

    toggleUpdate(item) {
      if (item.editing === undefined) {
        this.$set(item, "editing", true);
        return;
      }

      item.editing = !item.editing;
    },

    saveItem(item) {
      console.log(item);
      this.updateDataItem(item).then(response => {
        item.editing = false;
        this.state = Common.updateAlertState(
          "success",
          "Success",
          `${item.name} has been updated`,
          true
        );

        setInterval(() => {
          this.state = Common.updateAlertState("", "", "", false);
        }, 3000);
      });
    },

    deleteItem(item) {
      this.deleteDataItem(item).then(response => {
        console.log(item);

        item.editing = false;
        this.state = Common.updateAlertState(
          "success",
          "Success",
          `${item.name} has been deleted`,
          true
        );

        this.dataItems = this.dataItems.filter(ele => {
          if (ele.id !== item.id) return ele;
        });

        setInterval(() => {
          this.state = Common.updateAlertState("", "", "", false);
        }, 3000);
      });
    }
  }
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>
.sub-heading {
    background:#ffffff;
    padding:12px;
    font-size:1rem;
    font-weight:600;
    cursor: pointer;
    border-top: 1px solid #cbd1d8;
    border-bottom:2px solid #cbd1d8;
    transition: all 0.2s ease-in;
}

.collection {
    width: 300px;
    border:1px solid #cbd1d8;
    background: #f9f9f9;
    float:left;
    margin-right:12px;
}

.collection .item {
    padding: 8px;
    cursor: pointer;
}

table {
    width: 600px;
    
    tr td {
      padding: 4px 8px;
    }
}

.option{
    width:135px;
    
    &.option--open {
        width:220px;    
    }
}
</style>
