<template>
  <div class="qualifications">
    <div class="content content-border people">
      <div class="justify-content-start">
        <h2>Qualifications</h2>				
        <!-- <router-link to="/app/people/add" class="btn btn-lg btn-blue">New <i class="fa fa-fw fa-plus"></i></router-link> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "StaffQualificationsViewAll",
  data() {
      return {}
  },
  methods: {

  },
};
</script>

<style lang='scss' rel='stylesheet/scss' scoped>

</style>
